[2020-02-22 12:55] sk1p commented on #600
@twentyse7en thank you for looking into this! This is almost right: not passing in `detector_size` should give this or a similar error. But: we still want to support an old way of opening raw file:

[code]

Note that instead of `detector_size` we passed in two parameters `detector_size_raw` and `crop_detector_to`.

You discovered a missing test! It would be good to have tests for at least the foll

[2020-02-22 17:44] twentyse7en commented on #600
Got it :+1:

[2020-02-22 18:54] #267 closed

[2020-02-22 19:05] twentyse7en commented on #600
Could you provide me some insight about capturing `DeprecationWarning`.

[2020-02-22 19:15] sk1p commented on #600
You can use `warnings.catch_warning`, like in [this testcase](https://github.com/LiberTEM/LiberTEM/blob/master/tests/test_job_deprecation.py). See also [the official documentation](https://docs.python.org/3/library/warnings.html#testing-warnings)

[2020-02-23 04:03] twentyse7en commented on #629
I would like to contribute.

[2020-02-23 04:27] twentyse7en commented on #588
Sorry I forget to add source of dataset used for updating screenshot as you mentioned.
where exactly should I mention the dataset?

[2020-02-23 10:25] sk1p opened #644 "Progress bar support for `Context.map` and `Context.run`"
Support in `Context.map` is straight-forward, same for `Context.run` with UDF-based analyses; I think adding progress bar support for the deprecated job-based analyses is not important, even if it is possible.

[2020-02-23 10:43] sk1p commented on #588
I would suggest adding a proper citation directly in the GUI usage docs at minimum. In addition, we can have a section "public datasets" or similar that has a collection of interesting data.

[2020-02-23 10:45] twentyse7en commented on #588
That would be great :+1:

[2020-02-23 10:48] twentyse7en commented on #644
Can you provide some more details. Do we use any library for progress bar?

[2020-02-23 10:59] sk1p commented on #644
Yes, we are using `tqdm`. But in this case, you don't even need to know this, as `Context.run_udf` already has a `progress` parameter, and both `map` and `run` call `run_udf` under the hood.

[2020-02-23 12:01] sk1p opened #645 "Proper error handling when opening certain files"
If you try to open a dataset that is supported in LiberTEM itself, but not yet in the GUI (currently, that is  just DM), there is no proper error handling in place yet:

https://github.com/LiberTEM/LiberTEM/blob/b20b21dd455ae14d6f202259b995231e3f889e69/client/src/dataset/components/DatasetOpen.tsx#L159

THis is because for a long time, this truly could not happen. Instead, this should trigger a pr

[2020-02-23 12:09] sk1p opened #646 "PR template: ask people to update their "description" field"
Currently, the PR checklist doesn't prompt people to update their description field in creators.json, but it can get out of date very quickly ("fixed issue #XXX"). Maybe we can find better wording to update the description to something more general after some time (something like "various GUI fixes"?)

[2020-02-23 13:26] sk1p commented on #629
Okay! Did you already find the release checklist? This issue is about adding new items in there to remind us to take care of deprecations.

[2020-02-23 19:25] sk1p commented on #645
To prevent duplicate work: @AnandBaburajan has expressed interest to work on this issue.

[2020-02-24 09:53] irahulcse commented on #105
Yes, I also think so the docker hub build will be independent of CI fail/success status. Not quite sure about it but might we need to update the docker hub after every new build?.

[2020-02-24 13:10] sk1p commented on #629
Another point for the release checklist: Add the current LiberTEM version to CVL @ https://github.com/Characterisation-Virtual-Laboratory/CharacterisationVL-Software

[2020-02-24 16:27] #600 closed

[2020-02-24 17:25] never2average commented on #387
@uellue, will there be a screening process for a candidate's technical knowledge apart from the proposal.

[2020-02-24 18:00] twentyse7en commented on #629
Where can I find release checklist ?

[2020-02-24 19:47] sk1p commented on #629
It [on the releasing page](https://libertem.github.io/LiberTEM/releasing.html#release-checklist), which is linked from [Contributing -> Advanced](https://libertem.github.io/LiberTEM/contributing.html#advanced)

[2020-02-25 08:11] uellue commented on #387
Hi @never2average, candidates prepare a pull request to fix a smaller issue before writing the proposal as part of the regular application process for projects under the umbrella of the Python software foundation. For details: https://libertem.github.io/LiberTEM/gsoc.html#writing-your-gsoc-application https://python-gsoc.org/index.html#apply

See https://github.com/LiberTEM/LiberTEM/issues?q=is%3A

[2020-02-25 08:39] uellue opened #648 "Bring LiberTEM to Conda"
We should allow installation via conda and via pip.

@reimarbauer, @sk1p  mentioned you would know how to approach this? :-)

[2020-02-25 09:52] ReimarBauer commented on #648
I guess we can get it on conda-forge, https://conda-forge.org/ without the pypi step first. If it can be builded on pypi too, the src path can be exchanged afterwards.

We have to verify a few things first:
 - add conda-forge to your search path,
 - check by conda search if all in "install_requires" needed packages are available (check version), if one is missing we start with adding this to conda

[2020-02-25 09:57] ReimarBauer commented on #648
For pypi, it is also quite easy, if all libraries for all platforms are there.

deepl.com may be used to translate to englisch ;)
see at: Rezept Nr. 5: Ein Projekt auf PyPI registrieren
https://chrisarndt.de/talks/cooking-eggs/cooking-eggs-vortrag.html

[2020-02-25 14:03] twentyse7en commented on #588
Where are you planning to add new section ?

[2020-02-25 14:59] twentyse7en commented on #629
So I need to add items in checklist which will removed in release 0.5, right ?

[2020-02-25 15:05] sk1p commented on #648
PyPI is [already done](https://pypi.org/project/libertem/) :heavy_check_mark: - only conda is still missing. The main point would be proper integration of our CI pipeline and the whole conda build setup.

[2020-02-25 15:07] sk1p commented on #629
The idea is to add general checklist items for handling deprecation and publishing to CVL, not specifically for one version

[2020-02-25 18:15] twentyse7en commented on #629
For finding `DeprecationWarning` I have gone through `LiberTEM/src`. Do I have to search in entire code(`LiberTEM/`) or just `Libertem/src`

[2020-02-25 21:17] sk1p commented on #629
Hmm, you are overthinking it. The idea is just to have a *very* simple item in the release checklist to remind us to take care of deprecations. There doesn't need to be a list of concrete warnings at all, and also no need for a detailed description: it is supposed to be terse. The target audience of the release checklist are experienced contributors of LiberTEM who want to either a) do a release t

[2020-02-25 21:36] sk1p commented on #105
Hmm, I'm not convinced that's the way to go. How do you prevent broken docker images from being pushed? If your answer is [using autotest](https://docs.docker.com/docker-hub/builds/automated-testing/), how do you prevent having a completely separate test run from the rest of our pipeline? Feel free to play around with the build service, but you'll have to convince me to make it the official image

[2020-02-25 23:20] sk1p commented on #588
Hm, this is not so easy to decide. But as we are planning to do a documentation review soon™ anyways, it could start out as a new top-level item in the TOC (top level means it will be listed as one of the items in the Contents list on the left side). Later, as part of the review, we will re-structure our documentation anyways.

It should be linked from all relevant sections, for example "Loading d

[2020-02-26 10:01] uellue opened #651 "UDF computations on overlapping ROIs with a common merge step"
Discussions with https://github.com/Ptychography-4-0/ptychography/ team:

Ptychography reconstruction requires partial reconstruction and stitching of regions that are close and compact in sample coordinates and not necessarily in the "natural order" and current partitioning of the dataset, which could be a random scan with temporal ordering.

To enable distributed ptychography, it should be possi

[2020-02-26 10:49] twentyse7en commented on #629
Thx, I was going in a different direction :sweat_smile: Hope the changes made in PR are something you expects.

[2020-02-26 13:23] #246 closed

[2020-02-26 13:50] uellue commented on #651
Actually, it should be possible to pass a list of ROIs to define "virtual partitions" that can be processed in parallel / arbitrary order.

[2020-02-26 23:41] bdalevin commented on #46
I would like to add a comment to this issue.
Allowing users to save a float .tif image from the GUI would be extremely helpful for many of my users.
Please implement this as soon as you can.

[2020-02-26 23:47] bdalevin commented on #328
I would also like to comment that it would be extremely useful to be able to save raw results of the analyses from the GUI.
float .tif images would be very useful in addition to the formats already mentioned above.
Please implement this as soon as you can.

[2020-02-27 08:40] sk1p commented on #46
Thank you for the feedback! We will prioritize this issue and plan to implement this for the 0.5 release.

[2020-02-27 09:56] uellue commented on #651
Refs https://github.com/Ptychography-4-0/ptychography/issues/10
Refs https://github.com/Ptychography-4-0/ptychography/issues/8 for merge function that is stable for arbitrary overlapping ROIs, i.e. repeated processing
Refs https://github.com/Ptychography-4-0/ptychography/issues/12 as a simple test algorithm to validate the system

[2020-02-28 07:44] BisariaUtkarsh commented on #158
Hello

I am looking forward to contribute to this idea for GSOC 2020. I have installed Libertem and have been going through the documentation to make myself more clear about Libertem. I will be looking out for issues to solve for this week to help me with the codebase. So any help to get me started with this idea would be appreciated.

Thanks

[2020-02-28 11:11] sk1p opened #654 "Evaluate sparse_dot_mkl"
https://github.com/flatironinstitute/sparse_dot - needs to be tested if this improves our sparse dot perf

[2020-02-28 11:51] sk1p commented on #158
Hi @BisariaUtkarsh and welcome to LiberTEM! Note that another student, @twentyse7en, has already expressed their interest in this project [in our gitter chat](https://gitter.im/LiberTEM/Lobby). It would be best to choose another idea. You are of course free to write a proposal for this project idea, too, but the likelihood it will be accepted is lower.

Please have a look at [our ideas page](https

[2020-02-28 12:38] BisariaUtkarsh commented on #158
Hello @sk1p I will go through the list again and get back to you if I find something of interest. Thanks anyways.

[2020-02-28 16:55] AnandBaburajan commented on #441
I'm interested in working on this issue (Project 4: Allow reshaping datasets into a custom shape) as part of GSoC 2020.

[2020-02-29 11:42] #644 closed

[2020-02-29 12:48] sk1p opened #656 "Better empty state experience"
See also, for example:

https://www.toptal.com/designers/ux/empty-state-ux-design
https://www.justinmind.com/blog/everything-you-need-to-know-about-empty-state-design/

This is based on a comment from the hackathon in berlin - right now our empty state (after launching the workers / connecting to a cluster) is basically just the browse button kind of shyly  hidden away on the top left below the lo

[2020-02-29 12:48] sk1p opened #657 "stddev stability issue"
See the following CI failure: https://travis-ci.org/LiberTEM/LiberTEM/jobs/656632518

Not sure if this is fixed in #640.

[2020-02-29 12:55] sk1p commented on #656
An example empty state from vscode showing some common keyboard shortcuts:

![image](https://user-images.githubusercontent.com/5778/75607791-e8a9fe00-5afa-11ea-8cf0-b60b9a8043c2.png)

[2020-02-29 13:49] sk1p commented on #656
See also, the "welcome page" of vscode:

![image](https://user-images.githubusercontent.com/5778/75608730-966cdb00-5b02-11ea-8335-d75ee149f19f.png)

[2020-02-29 14:54] sayandip18 commented on #387
I would love to work on this issue for GSOC 2020. Will submitting 1 PR be enough for selection?

[2020-02-29 16:04] twentyse7en commented on #601
What are the prerequisite to solve this issue ?

[2020-02-29 22:37] sk1p commented on #601
In this case, a prerequisite to fixing the bug is building the client from source, as there most likely need to be changes in the TypeScript client code. You may need to know the basics of some libraries used in the client, for example react and possibly redux. You may need to understand the very basics of backend and front end web dev, for debugging and understanding what happens when the user cl

[2020-03-01 03:32] twentyse7en commented on #601
Yeah, I did reproduce.

I'm not familiar with web dev. But I would love to solve this bug, I think knowing web dev would be helpful for GSOC project.

[2020-03-01 08:21] AnandBaburajan commented on #645
I was able to reproduce the issue and I see that an empty page is returned when a DM file is loaded.
I've two options in mind to solve this:

1. Show a pop-up box with a message similar to "DM files are currently not supported in the GUI".
2. Create a new DatasetType in the GUI for "DM" and a corresponding form page (DMParamsForm) with the message "DM files are not currently supported in the GUI",

[2020-03-01 11:50] sk1p commented on #645
I would prefer option 1, using the existing error reporting facilities. If you haven't seen an error message in the GUI yet, an easy way to produce one is to enter an invalid path into the file browse  dialog and press return.

[2020-03-01 12:15] sk1p commented on #601
We have a small section on [debugging the web GUI](https://libertem.github.io/LiberTEM/debugging.html#debugging-the-web-gui) in our documentation, which has some pointers to indispensable debugging tools (browser's devtools, react and redux plugins for these, ...), which should help you trace what is going on.

As a hint on how to start with this, I would suggest to try to understand what exactly,

[2020-03-01 12:20] twentyse7en commented on #601
Thanks :+1:

[2020-03-01 12:37] sk1p commented on #387
Technically, yes. But as mentioned on [the Python GSoC page](https://python-gsoc.org/students.html#selectiontips): "Google intends this to be a way for new contributors to join the world of open source. The students most likely to be selected are those who are engaged with the community and hoping to continue their involvement for more than just a few months. It's more important to be a good commu

[2020-03-01 13:38] AnandBaburajan opened #658 "RAW: Dataset with Direct I/O enabled fails to load on Windows"
On Windows (with Python 3.7), trying to load a raw dataset with direct I/O enabled results in the following error: `module 'os' has no attribute 'O_DIRECT'`

I assume this only occurs on Windows as in #599 it is stated that "When running an analysis, note that direct I/O is enabled".

[2020-03-01 14:10] sk1p commented on #658
Thanks for opening the issue!

Indeed, Windows doesn't support direct I/O using the same API as Linux - instead, the `FILE_FLAG_NO_BUFFERING` flag, and the platform-specific `CreateFile` and `ReadFile` functions are used. If you are curious how this would work, see [the documentation on CreateFileA by Microsoft](https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-createfilea), [a

[2020-03-01 14:40] sk1p commented on #387
Related paper: https://arxiv.org/pdf/1704.06976.pdf - the random access compression concept is similar to our ROI support, and the overall methodology could be adopted, modified for our specific requirements.

Btw: found while looking at GSoC proposals at CERN: https://hepsoftwarefoundation.org/gsoc/2020/proposal_ATLASMLcompression.html - which is also related to this issue!

[2020-03-01 17:18] sk1p commented on #657
See also: https://ci.appveyor.com/project/sk1p/libertem/builds/31162834/job/b5jxjmtkt13ii6l2

[2020-03-01 21:35] fedorov opened #660 "Short installation instructions do not work"
Re: JOSS review in https://github.com/openjournals/joss-reviews/issues/2006

Following the instructions in README, I have the following issues:
* invalid python binary (I do have python 3.7.6, and I was able to run the command using pyton3 instead)
[code]
* invalid pip command; I was able to run `pip install librtem`
[code]

[2020-03-01 22:23] sk1p commented on #660
Thanks for the report! Yes, we may need to clarify that a supported Python version needs to be substituted for `python3.6` in that command.

That appears to be a quirk of zsh, should be fixable by quoting the package name argument.

[2020-03-02 02:30] fedorov commented on #660
I am sure LiberTEM users are sophisticated enough that they will figure this out without problem, so this is more for "looks" to have the front-page instructions more clean.

[2020-03-02 13:18] uellue commented on #554
The new `StdDevUDF` #640 could be a good test bed for the impact of tile shape negotiation. It passes twice over a subset of a tile for the "minibatch" two-pass calculation of sum and sum of variances. If a memory-mapped tile contains so many frames that `n_frames * BLOCKSIZE` doesn't fit the L3 cache, it will likely lose performance dramatically. It could even make sense to restrict the number of

[2020-03-02 14:54] #658 closed

[2020-03-02 17:29] adlakha-rachit commented on #630
Hello,
I would like to work on this.
Can you please help me get started as I am new to LiberTEM?

[2020-03-02 21:58] sk1p commented on #630
Hi @adlakha-rachit - welcome to LiberTEM, I'd love to help you get started! As a first step, it is a good idea to [install LiberTEM](https://libertem.github.io/LiberTEM/install.html). We also have a documentation section [dedicated on contributing to LiberTEM](https://libertem.github.io/LiberTEM/contributing.html), which every contributor should have read at least once.

Let us know if anything is

[2020-03-02 22:49] #629 closed

[2020-03-03 06:11] kunal12298 commented on #158
Hello, I am Kunal Gupta and am looking forward to contribute for this project.

[2020-03-03 06:14] kunal12298 commented on #546
Hello, I am Kunal Gupta and am looking forward to contribute for this project. How should I get started?

[2020-03-03 10:46] sk1p commented on #158
Hi @kunal12298 - and welcome to LiberTEM! Please see the comment above - having more than one student work towards a proposal for this idea may reduce the likelihood your proposal will be accepted. I see you are also interested in #546 - I would suggest to concentrate on writing one excellent proposal, rather than putting the work into two or more proposals. This is only my personal recommendation

[2020-03-03 10:53] sk1p commented on #546
Hi @kunal12298!

To get started with LiberTEM, the best way is to pick one or more [issues marked with "good first issue"](https://github.com/liberTEM/LiberTEM/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22) and submit PR(s) for them. For this project specifically, it is also a good idea to read and understand the code of `libertem.udf.base` - that is probably whe

[2020-03-03 15:24] jan-car opened #662 "Documentation has no GitHub Badge"
Currently, there is no badge to get to the GitHub repository on the [documentation](https://libertem.github.io/LiberTEM/) page!

[2020-03-03 15:41] #662 closed

[2020-03-03 19:02] twentyse7en commented on #158
Python is mentioned as only skill required for this project. Does this also require react and typescript ?

[2020-03-03 20:23] sk1p commented on #158
Actually it will require to learn a tiny of TypeScript / react, too. In the easiest variant, this could be integrating some kind of "button" that the user clicks on, which triggers showing the Python code. It really depends on what you write into the proposal - for example, instead of perfecting the GUI part, you could put more focus on the Python part, by investigating and implementing the Jupyte

[2020-03-04 06:25] twentyse7en commented on #660
I would like to contribute. I got the first part, But why we need to quote the package name ?

[2020-03-04 10:46] sk1p commented on #660
The error happens because the zsh shell used here interprets the brackets as a pattern (either glob or regular expression, I'm not sure as I use a different shell) and tries to find a file that matches the  pattern. Adding quotes removes this meaning from the brackets and passes the whole string down literally to `pip`.

[2020-03-04 12:01] sk1p commented on #648
From offline discussion with @ReimarBauer, thank you!

 - we need to fork staged-recipe and create recipe for LiberTEM, which later will become a libertem-feedstock (see for example https://github.com/conda-forge/staged-recipes/pull/10807 or https://github.com/conda-forge/staged-recipes/pull/10961)
 - once we have a feedstock, a bot will take take of kicking off updates to it, anytime we push a ne

[2020-03-04 12:16] sk1p opened #663 "Numba testing pitfalls?"
As mentioned in the numba gitter, there are some more differences when numba is disabled:

https://github.com/pygae/clifford/blob/63f82795cc5e90385afc734bd4341f964593dd71/clifford/_numba_utils.py

[2020-03-04 13:53] AnandBaburajan commented on #645
Sorry, It's been a few days with this issue. I've been trying to create a check for the "DM file detected on the GUI" error in [dm.py](https://github.com/LiberTEM/LiberTEM/blob/master/src/libertem/io/dataset/dm.py), but failed. I actually planned to check for the error in dm.py, then let redux store it and let the error show up in ErrorList. I'm not completely familiarized with how the Python API

[2020-03-04 14:18] sk1p commented on #645
Don't worry!

I don't think this can work, as the dm `DataSet` doesn't know if it is used in a GUI or from another context (script, embedded into an application, notebook, ...). It could work to signal from the Web API whether a certain file format is supported in the GUI (for example via the `detect` call), but that would mean the Python code suddenly has to care about the GUI, and when support i

[2020-03-04 15:30] Iamshankhadeep commented on #316
I want to work on it as my GSOC 2020 project.

[2020-03-04 20:07] sayandip18 commented on #638
I would love to contribute. Where do I start? So far, I've created a workspace in HackMD although am not sure what "HackMD notebook" means.

[2020-03-04 20:53] sk1p commented on #638
The hackmd notebook referenced is [this document](https://hackmd.io/3jO3rEm4TfaPhrJm4TeZcQ). It contains notes about our recent hackathon. The idea is to use the contents of the hackmd document as a guide to improve our official documentation. Please don't edit the hackmd notebook, as it should keep reflecting the state at the time of the hackathon.

[2020-03-05 03:04] kunal12298 commented on #546
Thank you @uellue, and wanted to ask if there is any other issue related to the issue #546

[2020-03-05 07:34] Iamshankhadeep commented on #498
Can you tell me more about this issue? Like what should I need to do and what is glob?

[2020-03-05 10:20] sk1p commented on #498
https://en.wikipedia.org/wiki/Glob_(programming)
https://docs.python.org/3.7/library/glob.html

Opening a "stack of files" refers to having a dataset that consists not of a single file, but of many smaller files. These are then "stacked" together to create a dataset of more dimensions than a single file. For example, you could have 256 files, each containing a single 2D image of size `(128, 128)`.

[2020-03-05 14:13] Iamshankhadeep commented on #498
But what if we select multiple file of different types, then what happens?

I think I did not get it. Can you provide me with more details?

[2020-03-05 14:28] sk1p commented on #498
Good question! In my opinion, the best thing to do would be to display an error, as it is the least surprising behavior.

Please have a detailed look at the "workflow" of opening files: observe each single step you have to take. After selecting a file in the file browser, you will get a parameter form. This does not exist for the DM format yet, and needs to be added.

If you want to know how the e

[2020-03-05 17:12] sk1p commented on #594
This is worked around by #661

[2020-03-05 17:12] #594 closed

[2020-03-05 18:03] sk1p commented on #660
Fixed by #664

[2020-03-05 18:03] #660 closed

[2020-03-05 18:13] sk1p commented on #316
Another related project: https://github.com/sinclairzx81/typebox

[2020-03-05 18:28] Iamshankhadeep commented on #498
I think I have an idea about how to tackle this issue.

Thanks for additional information.

[2020-03-06 11:15] sayandip18 commented on #638
Will the changes be in README.rst?

[2020-03-06 13:43] sk1p commented on #638
Sure! The documentation sources are [part of this repository](https://github.com/LiberTEM/LiberTEM/tree/master/docs/source), so you can do them like any other pull request.

[2020-03-06 18:50] twentyse7en commented on #158
Hey @uellue and @sk1p need help regarding some clarification of project. I have send a mail with a rough design. Design is in its intial state. Feedback would be very helpful for building the proposal 😊

[2020-03-06 19:39] sayandip18 commented on #627
Isn't this issue same as #638 ?

[2020-03-07 05:22] twentyse7en commented on #591
I will do the second part too :smiley:

[2020-03-07 08:17] AnandBaburajan commented on #656
I'm interested to work on this!

[2020-03-07 09:37] uellue commented on #627
#638 is a specification and spin-off from this issue since @sk1p and I realized that this would be a bigger item.

[2020-03-07 11:58] sk1p commented on #158
Thank you for reaching out for feedback, I'll have a detailed look on Monday!

[2020-03-07 12:06] sk1p commented on #656
Nice to hear, @AnandBaburajan! Let me know if the ideas given in the issue description are enough to get you started. Also, don't hesitate to add drafts of your design as screenshots to this issue - that way, we can give you quick feedback.

[2020-03-07 13:04] AnandBaburajan commented on #656
Yes, and I'll share my drafts here.

[2020-03-07 14:57] twentyse7en commented on #158
Thank you 😊

[2020-03-08 05:47] sayandip18 commented on #627
What does this mean?

[2020-03-08 13:14] sayandip18 commented on #623
Currently, there is a github.io page for Blobfinder. So, is our goal is to create a new website that has both LiberTem and the blobfinder? If so, we can use Jekyll.

[2020-03-09 08:13] uellue commented on #623
Since our documentation is built with sphinx so far, I'd prefer to stick with it for the organization page as well. That way we can use the familiar structure, syntax, and things like intersphinx links.

A quick research on what to do:

- [ ] Create empty `libertem.github.io` repo in the LiberTEM organization
- [ ] Create separate document tree in LiberTEM main repo or a dedicated repository for t

[2020-03-09 08:15] uellue commented on #623
An overview page for the project that links to both.

[2020-03-09 10:05] uellue opened #671 "Poster for Helmholtz Imaging Platform matchmaking workshop"
**Processing of large-scale binary data**

--> Poster: [LiberTEM poster for HIP-0.3-web.pdf](https://github.com/LiberTEM/LiberTEM/files/4312021/LiberTEM.poster.for.HIP-0.3-web.pdf) <--

# Interest in projects

* New applications for LiberTEM
  * Automation
  * Information extraction
  * Live data processing
  * Back-end for other software
* Distributed high-performance data processing
* Advanced i

[2020-03-09 10:14] sk1p commented on #623
Agreed.

I rather like the variant of using branches for this: have the documentation source and CI pipeline in the master branch of the `libertem.github.io` repository and directly visible in github, and put the result into the `gh-pages` repo. That way, the source is directly "attached" to the built pages and easily findable.

So that would mean copying a bit of infrastructure (sphinx setup, may

[2020-03-09 14:23] uellue commented on #657
Lovely! </irony> Those are not small errors anymore. We should definitely observe if this happens again with the new code. How can we make the error reproducible, i.e. get the same state of the random number generator etc.?

Or perhaps we could add code similar to https://github.com/LiberTEM/LiberTEM/blob/afe3c4292a2d55d31b0b2177aff0fa5e0cc9cb51/tests/test_analysis_masks.py#L932-L1011 to test stan

[2020-03-09 14:32] sk1p commented on #657
I didn't have time to check in the error log yet - how large were the absolute errors? Maybe we should have better assertion output here, which gives some statistics on the difference?

To reproduce, maybe try to run in a loop again?

I mean, one easy way is to just increase the dynamic range by a large margin, but this would be guaranteed to fail and also be expected. The hard part would be to fi

[2020-03-09 14:49] uellue commented on #657
For example 2.4994637e-01 vs 2.4994595e-01, i.e. two orders of magnitude more than the decimal digits of precision of float32.

What about "at least as good as `numpy.var()`" if we pose the task in such way that the true result is known?

In fact, LiberTEM already performs a three-level hierarchical sum if tile and partition sizes are well-chosen: First within the tile, then within the partition,

[2020-03-09 15:01] sk1p commented on #657
Well, that would mean actually decreasing the dynamic range of our test data, as the two-pass algorithm is AFAIK the most stable of the ones compared in the paper, right?

[2020-03-09 15:26] uellue commented on #554
Discussion with @sk1p: We should check if using native input dtype in StdDevUDF and casting only within `process_tile()` brings a performance benefit once tile shape negotiation works. The values are up-casted to `float64`anyway now for stability reasons #672.

[2020-03-09 15:39] sk1p commented on #671
Note that this has just been converted into a remote video conference, so it turns out the posters won't actually be physically printed.

[2020-03-09 16:22] sk1p opened #673 "Introduce error boundaries in the GUI"
Right now, in case of an exception, sometimes the whole UI is "torn down".  In React, there is the concept of an error boundary - this limits how far an exception "bubbles up", so to speak. Natural boundaries would be dataset or analysis. This way, you can continue to use the UI after triggering a bug, for example, or when your implementation is not 100% finished yet. Should be done after #665 is

[2020-03-09 18:19] sk1p opened #674 "Explicitly limit docs deploy to master branch"
There are a few CI failures happening now, that for some reason didn't happen before. No idea why it changed, but this can be fixed by conditionally running the docs-deploy tox env only on the master branch.

[2020-03-09 18:20] sk1p commented on #674
Example failures: [A](https://travis-ci.org/LiberTEM/LiberTEM/jobs/660194862?utm_medium=notification&utm_source=github_status), [B](https://travis-ci.org/LiberTEM/LiberTEM/jobs/660207605?utm_medium=notification&utm_source=github_status)

[2020-03-09 18:24] #657 closed

[2020-03-09 19:02] twentyse7en commented on #158
I'm stuck at how GUI pass parameter to `context.api` ? Then I could use the same method to trigger another function which could save the parameters passed and functions used.

For example : If I'm using `Ring analysis` in GUI, I have to pass `ri`, `ro` to `create_ring_analysis()`. How parameters are passed into function ? which part of the code base should I have to look ?

[2020-03-09 19:09] sk1p opened #675 "API changes to make integration into third-party apps easier"
What changes would be needed to make LiberTEM more straight-forward to use from e.g. inside swift?

A possible way forward would be to use the `Context` class in swift, and do a few additions/changes:

- add `asynchronous=True` parameter to `run_udf`. This would change the return type to a new `AsyncUDFResult` (of however it will be called), from which you can access a "partial result async iterat

[2020-03-09 19:12] sk1p commented on #675
Something else that came up was that the return value of `detect` is a bit messy; it combines the dataset type with the parameters, so that should be untangled, too. That means the IO plugin then could create metadata that looks a bit like this:

[code]

[2020-03-09 19:51] sk1p commented on #158
A good way to check this is actually to use the development tools of the browser. In this case, especially the "network" tab. If you have a close look at what happens if you start an analysis, you will notice a PUT request to a URL like `http://localhost:9000/api/jobs/dfb8bcd7-e4ab-40db-8f05-366c2c8e6afc/`. Now, you can check the ["URL configuration"](https://github.com/LiberTEM/LiberTEM/blob/e5a2

[2020-03-10 10:04] #645 closed

[2020-03-10 11:10] uellue commented on #671
For that reason converting this issue to a landing page! :-)

[2020-03-10 14:37] uellue opened #676 "Include LiberTEM in "TEM" community on Zenodo.org"
Via @sk1p:

https://www.zenodo.org/communities/tem/search?page=1&size=20

We could try to include this community in the Zenodo template for LiberTEM.

[2020-03-11 11:27] sayandip18 commented on #676
Does LiberTEM have any identifier other than DOI?

[2020-03-11 13:50] uellue commented on #602
- [ ] Test with stand-alone Dask, minimal reproducer
- [ ] Bisect

[2020-03-11 19:06] AnandBaburajan commented on #656
![design_1](https://user-images.githubusercontent.com/2698932/76453432-e13afc80-63f8-11ea-809f-466166e5d592.png)

[2020-03-12 09:48] uellue commented on #676
@sayandip18 In what sense an identifier? For what purpose?

[2020-03-12 10:02] #676 closed

[2020-03-12 10:33] uellue commented on #656
This looks nice! :+1:

[2020-03-12 10:51] uellue commented on #623
https://help.github.com/en/github/working-with-github-pages/about-github-pages#publishing-sources-for-github-pages-sites

_"The default publishing source for user and organization sites is the master branch. If the repository for your user or organization site has a master branch, your site will publish automatically from that branch. You cannot choose a different publishing source for user or org

[2020-03-12 10:56] uellue commented on #623
Hm, the target branch `gh_pages` seems to be hard-coded in `travis-sphinx`: https://github.com/Syntaf/travis-sphinx

Since updates will be infrequent, we can perhaps just pull from `gh_pages` into master manually?

[2020-03-12 11:01] sk1p commented on #623
We can also not use travis-sphinx - if we want to move to azure, we will need to use a different flow anyways

[2020-03-12 11:03] uellue commented on #623
Good point, maybe a good time to test this at this opportunity?

[2020-03-12 11:17] sk1p commented on #623
Indeed! Mostly this involves finding out how the authentication will work from both travis and azure, as we will need to push the results to a git branch. I guess the `GH_TOKEN` that is available in the CI should be enough?

[2020-03-12 14:50] sk1p commented on #656
Specifically, about the **Help** section, a challenge is: the docs are changing, and we are not currently shipping them with LiberTEM itself. So a) linking to the online docs may result in dead links after some time, and b) the GUI doesn't know what top-level documentation items are available, the list would have to be maintained manually. I would suggest we keep the number of docs links low, mayb

[2020-03-13 04:58] sayandip18 commented on #676
Actually I was checking out how LiberTEM could have been uploaded to Zenodo and saw that there was a section titled "Related/Alternate identifiers".

"Specify identifiers of related publications and datasets. Supported identifiers include: DOI, Handle, ARK, PURL, ISSN, ISBN, PubMed ID, PubMed Central ID, ADS Bibliographic Code, arXiv, Life Science Identifiers (LSID), EAN-13, ISTC, URNs and URLs" -

[2020-03-13 14:07] twentyse7en commented on #158
Can you provide more details about this

[2020-03-13 19:07] sk1p commented on #158
The idea is to provide a way to quickly open a dataset you already have opened in your script with the LiberTEM GUI. This could work, for example, by encoding the dataset parameters in a URL and pointing a browser there. I see two challenges with this:

1) The script needs to know about the LiberTEM GUI/Web API, which it currently does not. This could be solved by some kind of service discovery li

[2020-03-13 19:38] sk1p commented on #316
Related blog post: https://vriad.com/blog/zod/

[2020-03-14 09:00] Iamshankhadeep commented on #316
So which framework should we use for this issue and validation purposes?

[2020-03-14 11:23] sk1p commented on #316
... or maybe something different? The point is, we don't know, and figuring our what to use is a large part of the project itself. Important is that we reach the goals outlined in the issue description.

I'm mostly posting the links to the related project so that we have an overview for different approaches for parts of the solution, not _necessarily_ so we can directly use one of these packages.

[2020-03-14 14:16] uellue opened #679 "Run CI with Mac OS X because of strange difference in NumPy behavior."
When working on allowing to specify zero shifts with the blobfinder UDFs https://github.com/LiberTEM/LiberTEM-blobfinder/pull/23, I ran into a strange difference in NumPy behavior between Linux and OS X. Reporting here since it concerns our general build infrastructure and has potentially wider implications.

This function worked on Linux, but somehow modified the view or shape of the underlying a

[2020-03-14 15:53] sk1p commented on #679
Interesting. I guess the easiest way would be to add copies of the `TOXENV=py3{6,7}` jobs with `os: osx` set. Maybe even specifying a few different `osx_image` combinations (for testing different major OS X releases). Not sure how the Python is installed on travis though, if that is via the python.org package or via hombrew or similar.

[2020-03-16 15:42] sk1p commented on #316
Even more links:

https://shahmeer.co/blog/end-to-api-typing.html
https://github.com/rawrmaan/restyped
https://instagram-engineering.com/types-for-python-http-apis-an-instagram-story-d3c3a207fdb7
https://docs.apistar.com/ and https://www.starlette.io/schemas/

[2020-03-16 16:33] uellue commented on #626
A quick feedback after using AUX data "for real" for the first time https://github.com/LiberTEM/LiberTEM-blobfinder/pull/23

* Having to construct AUX data with specifying kind, extra_shape, dtype etc really is clunky, as the issue states.
* It feels strange to pass AUX data to the UDF constructor. IMO it would be more intuitive to pass the data to `run_udf()` like the ROI and dataset, since the s

[2020-03-16 16:35] uellue commented on #626
A minor note about dtype behavior: Currently, the dtype defaults to `float32`. It should default to None and use the passed data's dtype.

[2020-03-16 21:57] sayandip18 commented on #387
I have gone through the papers posted here. I only have a superficial idea of what's happening so far. I am afraid I don't have a clear roadmap of what needs to be done.

[2020-03-17 07:29] sk1p commented on #31
Our CoM visualization can directly use the empyre package, now that it is published to pypi:
![image](https://user-images.githubusercontent.com/5778/76831450-aa654c00-6827-11ea-939c-f8f84d839dfb.png)

/cc @jan-car

Note that the the y-axis of the empyre plot functions is flipped by default, compared to the default mpl `imshow`, need to make sure to keep this consistent!

[2020-03-17 07:37] sk1p commented on #581
As the release was done some time ago, I'm going to close this. The only major outstanding item is the documentation review, which is independent of any releases IMHO.

[2020-03-17 07:37] #581 closed

[2020-03-17 07:43] jan-car commented on #31
Glad this works! I just added some more functions which I will open a merge request for, in the next minutes.

Concerning the flipped y-axis, that caused much headache for me aswell, especially for some rotation methods... If I understand it correctly, the convention to have the y axis pointing down stems from the times of old television cathode ray tubes which scanned from left to right, top to b

[2020-03-17 08:06] sk1p commented on #31
:+1: - maybe this is something we should fix in LiberTEM actually. As we don't yet document the GUI axes, we can take the opportunity to change and document it, maybe also adding indicators in the GUI. Thoughts @uellue ?

The colors stay exactly the same with `origin='upper'`, but the colorwheel can be made consistent by also passing the origin. Only the quiver plot doesn't accept an origin:

![im

[2020-03-17 08:15] sk1p commented on #387
The overall idea is: we want to store our data compressed, and there are many many options out there. We have specific requirements, mostly regarding performance. We would like to get some kind of overview which compression techniques are suitable for us, and possibly get one or more options implemented in our `ClusterDataSet`.

[2020-03-17 08:33] jan-car commented on #31
Yeah, quiver does not play nice at all, I had a lot of other problems during its implementation. It shouldn't be too hard to implement an `origin` argument, though, maybe that would be a nice test for the  feature request issue you enabled over on the EMPyRe page 😉.

If not provided via `kwargs`, all plotting commands take their defaults from a stylesheet `empyre-image`, which you can either insta

[2020-03-17 10:11] sk1p opened #682 "Speed up tests by using pytest-xdist"
Installing `pytest-xdist` and using `pytest -n auto tests/` speeds up test runs almost by a factor of 2, this can possibly also improve CI turnaround. Need to check if coverage reporting still works with `xdist` enabled.

[2020-03-17 10:19] sk1p commented on #674
Apparently this was a glitch on travis, as this didn't happen again. Closing.

[2020-03-17 10:19] #674 closed

[2020-03-17 11:46] uellue commented on #602
The regression was caused by not setting the thread count for the stand-alone workers correctly. Refs #546

[2020-03-17 11:46] #602 closed

[2020-03-17 11:56] sk1p commented on #602
Ugh, okay. Well done tracking this down, thanks!

[2020-03-17 12:57] uellue commented on #602
@sk1p Well, I dug out a new problem in the process: #684 🙄

[2020-03-17 15:28] #682 closed

[2020-03-18 07:52] sk1p commented on #441
See also: https://github.com/LiberTEM/LiberTEM/issues/553

[2020-03-18 13:07] uellue commented on #546
Temporarily setting the thread count to 1 on the workers while running for a partition is supported in #680.

Multi-threaded UDFs are a bit trickier at the moment since building reasonable worker maps can be fiddly: Supported number of threads in the UDF vs. number of cores on the actual machine; good balance between multiprocessing and threading; heterogeneous clusters. Furthermore, we often proc

[2020-03-18 13:12] sk1p commented on #546
Yeah, that sounds like something the "advanced executor" should take care of, locally on each node...

There is still one place that is setting the number of threads via env vars:

https://github.com/LiberTEM/LiberTEM/blob/master/src/libertem/web/cli.py

Do you want to make a PR, or should I take care of it?

[2020-03-18 13:12] #546 closed

[2020-03-18 13:16] uellue commented on #546
PR coming momentarily!

[2020-03-18 13:50] Iamshankhadeep commented on #316
I think I did not understand it as I was going through it again. If possible can you explain it to me?

[2020-03-18 14:06] sk1p commented on #316
This means that there are structural definitions of some kind for each message that is sent from the server to the client, and they are present both on the server and the client. On the server, these definitions are often only very rough, as they are not typed, so the structure is just "whatever dict this method returns".

To understand this more deeply, pick a message type, for example `FINISH_JO

[2020-03-18 15:16] sayandip18 commented on #387
Why `ClusterDataSet`? I thought that we need to write UDFs for the different compression techniques.

[2020-03-18 15:32] sk1p commented on #387
UDFs don't get to access the raw data. i.e. bytes as they are on the disk. If you have a look at [the UDF documentation](https://libertem.github.io/LiberTEM/udf.html), you will notice that a UDF only has access to array data, either as single frames or, in special cases, as tiles or partitions.

But for compression, we need access to the raw bytes on the disk - that's where we want to save space!

[2020-03-18 16:00] sk1p commented on #158
GUI-wise, the "transition to scripting" part could integrate with the new download dialog from #665 - it could show the download options, and in addition, something like "-or- continue working in a scripting environment" (wording to be improved, of course).

[2020-03-18 16:08] #46 closed

[2020-03-18 16:08] #328 closed

[2020-03-18 16:08] #168 closed

[2020-03-18 16:09] sk1p opened #687 "Improved Export/Download support"
This is a continuation of #665, related to discussion in tickets #46, #168, #328

Now that the basic functionality is there, we can get first feedback from users; then it can be further improved:

- [ ] Support for CSV/Text
- [ ] Support for hspy
- [ ] Support for more formats?
- [ ] Better filenames, maybe including name from the GUI?
- [ ] Support for writing analysis parameters into the exporte

[2020-03-18 16:13] sk1p commented on #46
The basic functionality is now implemented, with support for HDF5, NPZ, TIFF, and RAW formats. It can be tested by [installing LiberTEM from git](https://libertem.github.io/LiberTEM/install.html).

If you have any feedback, let us know in this issue, the [followup issue](https://github.com/LiberTEM/LiberTEM/issues/687) or via E-Mail. Thanks!

[2020-03-18 16:36] sk1p commented on #687
HDF5 export of CoM is broken:

[code]

[2020-03-18 16:55] sk1p commented on #687
Note about multi-layered tiffs: the can be opened by Fiji, but are otherwise not widely supported. Float TIFF in general has bad support in normal image editors, same deal with multi-page/layer support. Might need an option to download channels separately, or as a zip of tiffs.

[2020-03-18 17:10] sk1p opened #688 "Re-use common results"
Now that we keep more state on the server, we can also re-use some of the results. For example, there is no need to recalculate the "sum of all frames" image for each analysis of a dataset that uses it - for these, we could implement some basic caching, until the dataset is closed. An `Analysis` would need to specify if the result is cacheable, for example `SUM_FRAMES` and similar should only be c

[2020-03-20 12:02] sk1p opened #691 "Implement distributed tracing"
See for example https://www.jaegertracing.io/

[2020-03-20 12:09] uellue commented on #554
`scipy.sparse.csr_matrix` doesn't work well at all on large memory-mapped partitions, likely for similar reasons as StdDevUDF. This could be another test case and use case, in particular since the `ApplyMasksUDF` will have to signal a tile shape depending on the current back-end:

* OpenBLAS or Torch for dense masks: No restrictions.
* scipy.sparse: Cache-friendly tile height, might also depend on

[2020-03-21 11:23] AnandBaburajan opened #692 "Allow ds_path to be chosen from a dropdown in the HDF5 form in GUI"
Currently when loading a HDF5 file, the 'HDF5 Dataset Path' is initially set to the largest dataset in the file. It'd be helpful if the textbox were replaced with a dropdown with multiple dataset's paths.

[2020-03-21 11:34] AnandBaburajan commented on #692
If this is a reasonable issue, I can try to work on it, but only after I'm done with my pending issues. :)

[2020-03-21 12:11] sayandip18 commented on #387
How do we implement the FPGA based compression? Using Verilog?

[2020-03-21 13:20] sayandip18 commented on #387
Another thing, so far I've been unable to figure out how we can use bit packing to compress image. Do you have any plan?

[2020-03-21 14:47] sk1p commented on #387
The idea goes somewhat in the direction of the next-gen consoles that were very recently released (Xbox X and PS5), which both include compression hardware to achieve up to 2x the I/O of the included NVMe SSDs. I'm not sure it is wise to include FPGA-based compression in your project, unless you already have a lot of experience and a development kit available. Sadly we have neither FPGA hardware a

[2020-03-21 14:55] sk1p commented on #692
I'd say this is a good improvement for opening HDF5 files. Note that some files may have a very large number of items/data sets stored, see https://github.com/LiberTEM/LiberTEM/issues/440 for an example. The GUI should cope with these, too.

[2020-03-21 18:58] robbmcleod commented on #387
IMO I would stick to bit-shuffling over bit-packing. Shuffling is simply less effort and does not assume anything about the histogram of the underlying data. Here's the original implementation:

https://github.com/kiyo-masui/bitshuffle

which I believe is available as an HDF5 filter, somewhere. Also, I believe blosc has its own implementation, one of which uses AVX2:

https://github.com/Blosc/c-bl

[2020-03-23 11:45] sk1p commented on #387
@robbmcleod thanks for mentioning the bitshuffle implementations!

Point of the GSoC project is to do a survey, that is, compare these different methods and existing implementations, on typical real-world data. I would want to wait for the results of this survey before deciding on a single method.

[2020-03-23 11:58] uellue commented on #387
Yes, that's true. I mentioned this since very, very fast and efficient compressors and decoders for sound and video are widespread as part of graphics units today. That's why you can have hour-long video conferences on a smartphone. Furthermore, hardware accelerators for, e.g., [gzip](https://www.ebay.de/itm/AHA-GZIP-AHA367PCIe-10-0-Gbits-sec-Compression-Decompression-Accelerator-Card-/40149672098

[2020-03-23 16:11] AyushGit123 commented on #31
Hello Mentor(@uellue @sk1p ),

My name is Ayush Shukla, I am a Second year undergraduate student of Electrical Engineering student at National Institute of Technology Surat, Gujarat, India. I am a Red Hat Certified System Administrator on Red Hat Linux 8. I am quite experienced on Python and have a good hands on using Python libraries.

I want to work on this project during GSOC 2020. Please guide

[2020-03-24 10:57] sk1p commented on #31
Hey Ayush,

I replied to your message on gitter, let me know if you need any more support!

[2020-03-24 11:31] sk1p commented on #628
Just for naming: how about `UDF.finalize()`?

One important point: making this a method on the UDF will currently limit us to finalizing only using the result of one UDF. This is not necessarily bad, just something to keep in mind.

[2020-03-24 19:05] AyushGit123 commented on #31
@sk1p I had already installed LiberTEM on my PC and since I want to work on this project please tell me which programming languages should I master to be capable of doing this project and where should I start from.
Now I have experience in Python, Java, C language.

[2020-03-24 22:13] saisunku commented on #630
Hi @sk1p and @uellue, as per the documentation here https://libertem.github.io/LiberTEM/udf.html `UDF.buffer` already accepts `extra_shape` as a parameter. Is the first part of this issue resolved then?

For the second part, what `tuple` are you referring to?

[2020-03-24 22:30] sk1p commented on #630
It does, but: in LiberTEM we have a few helper classes, one of which is `Shape` that represents an array shape but additionally specifies the number of "signal dimensions". We try to explain this on [our concepts page](https://libertem.github.io/LiberTEM/concepts.html) (let us know if this is unclear!

The API of `Shape` is explained here: https://libertem.github.io/LiberTEM/reference/internals.ht

[2020-03-24 23:21] saisunku commented on #630
I see! I understand navigation and signal dimensions. As far as I understand, `extra_shape` in buffer is the shape of the result of the calculation that the UDF is doing. So there are no navigation and signal dimensions. So then how do we accept a `Shape` object to the buffer? Should we check that this incoming `Shape` object has `sig_dims = 0`?

[2020-03-24 23:54] sk1p commented on #630
:+1:

As far as I remember, the use case was slightly hacky; the buffer definition looked a bit like this:

[code]

So in that case it did indeed have `sig_dims=0`.

To clarify, `extra_shape` is the *additional* shape, on top of the "base shape" defined by `kind="..."`.

`kind="single"` is often used as an "escape hatch" for things that don't (yet) fit directly into the UDF programming model - so

[2020-03-25 08:40] uellue commented on #628
`finalize()` is the name of a destructor in many languages: https://en.wikipedia.org/wiki/Finalizer.

What about `consolidate()`?

[2020-03-25 08:42] uellue commented on #628
It should probably be a pure function that doesn't modify the state of the UDF. In that case we can call it whenever we need consolidated partial results.

[2020-03-25 09:31] sk1p commented on #31
Copy of the message from gitter:

That should answer most of your questions.

This project idea concerns mostly our GUI, so I would suggest to try to fix a simple issue in the GUI to get started, but also I would recommend reading a bit about the physics behind the CoM method to understand the motivation.

[2020-03-25 10:16] sk1p commented on #628
:+1:

Tried my best to forget about Java :grin:

Hmm, to me this sounds like a merge/reduce-ish operation, but really this could be any kind of transformation. What about the more general `get_results`? It may also make it clear that it is a getter and not really a function where you should put anything computationally intensive

[2020-03-25 11:48] r-ujjwal commented on #158
Hello Sir @uellue  @sk1p,
I am Ujjwal Richhariya from India,
I have introduced myself to LiberTEM and its codebase.
I am willing and ready to contribute to this project.
I would be highly thankful if my proposal for this project would be accepted.

[2020-03-25 12:18] sk1p commented on #158
@r-ujjwal Hi and welcome to LiberTEM! As a first starting point, I recommend thoroughly reading https://python-gsoc.org/#gettingstarted and https://google.github.io/gsocguides/student/ - they contain a lot of information on how GSoC works. Then, a good way to get started is to pick an issue marked ["good first issue"](https://github.com/LiberTEM/LiberTEM/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdate

[2020-03-26 02:54] r-ujjwal commented on #158
Thank you sir @sk1p  for the useful suggestions

 I have prepared an outline for the proposal. I will send it to you as soon as it is completed.

[2020-03-26 14:49] AyushGit123 opened #693 "Error while loading Raw dataset on windows"
While loading a raw dataset produced using python script given on [website](https://libertem.github.io/LiberTEM/sample_datasets.html) , an error is displayed which says module " 'os' has no attribute 'O_DIRECT' " I do not know why this error is displayed .
![Screenshot (1)](https://user-images.githubusercontent.com/44500830/77660213-0c981c80-6f9f-11ea-8323-15083b074e73.png)

[2020-03-26 15:21] sk1p commented on #693
Which version of LiberTEM are you using? Windows does not support direct I/O, so if you are enabling it, you will get either this message with LiberTEM v0.4.1 or older, or a more friendly message with the current git version (since https://github.com/LiberTEM/LiberTEM/pull/659 by @AnandBaburajan was merged)

[2020-03-26 16:23] SahanWickramage commented on #656
I would like to work on this issue. I will share my design here.

[2020-03-26 16:30] sk1p commented on #656
@AnandBaburajan are you still working on this? @SahanWickramage please coordinate with @AnandBaburajan who already started working on this to make sure no work is duplicated!

[2020-03-26 16:54] SahanWickramage commented on #387
I would like to work on this issue.

[2020-03-26 17:02] saisunku commented on #630
Thanks @sk1p. Regarding the concatenation of `Shape` and `tuple`, perhaps we could extend the navigation dimensions and leave the signal dimensions as is. One possible use I can think for this is to combine multiple datasets (e.g. different materials or different parameters) taken on the same detector. In that case, you would extend the navigation dimensions.

[2020-03-26 18:54] AnandBaburajan commented on #656
I planned to continue working on this once I'm done with my GSoC proposal, and I'm still interested.
But @SahanWickramage, if working on this is part of your GSoC proposal, feel free to take this up.
Otherwise, we can definitely talk about collaborating on this!

[2020-03-26 21:41] saisunku commented on #630
I make PR (#694) for the first part. Let me know what you think!

[2020-03-27 03:52] SahanWickramage commented on #656
I would like to collaborate @AnandBaburajan. Since I have not done any PR yet :D and this issue has "good first issue" label on it, so I chose this issue. But I can try another "good first issue". :)

[2020-03-27 04:19] AnandBaburajan commented on #656
I meant, we can collaborate, if this isn't your 'mandatory GSoC pull request'. But it is, and I understand, so you can take up this issue completely.

I understand you have your own designs and I think the mentors would prefer to solve this issue in its entirety with a single PR, so please go ahead.

[2020-03-27 04:23] SahanWickramage commented on #656
Okay @AnandBaburajan. Thanks :)

[2020-03-27 12:19] twentyse7en commented on #601
I tried to figure out how "happy case" works. The client makes a connection request and server returns status `ok`. Then it makes action `connected`. I didn't understand how "browser" button showed after that.

Also in the "bad case" server returns `500: Internal Server Error`.

[2020-03-28 12:26] sk1p commented on #630
Hmm, I'm not sure. Perhaps we should leave this open for now and revisit this once we have concrete use cases. Alternatively, one could do a survey in the LiberTEM sources themselves and look for `Shape` + `tuple` concatenations - I think there should be a few.

[2020-03-28 13:14] sk1p commented on #387
Hi @SahanWickramage - please note that it is very late in the application process, so if you plan to submit a proposal, please send us a draft ASAP! Also, please do thoroughly read https://python-gsoc.org/index.html#gettingstarted and https://google.github.io/gsocguides/student/ and let us know if you have any questions!

[2020-03-28 13:32] sk1p commented on #601
:+1: - as evidenced by the request in the "network" tab of the browser's devtools. Where in the code does this request happen? How do we go from "user presses button" to "network request is made"? This may require some "detective work", but one possible approach is to have a look at the "initiator" column of the network tab. I'm not sure it is visible by default, but you can enable it by right cli

[2020-03-28 13:33] sk1p commented on #693
As discussed in the gitter chat, this was still LiberTEM v0.4.1, so this error is expected and replaced by a better message in #658

[2020-03-28 13:33] #693 closed

[2020-03-28 15:29] saisunku commented on #630
@sk1p thanks so much for the detailed comments on the PR #694 . I will update it.

Could you briefly tell me how to survey the LiberTEM source for `Shape` + `tuple` concatenations?

[2020-03-28 16:15] sk1p commented on #630
Usually, this would be done with static code analysis tools, but for smaller code bases, simple searching with `grep` or similar tools using a regular expression should also work.

Existing `Shape + tuple` should all involve converting the `Shape` to a `tuple`, so something like this should give you some potential instances of this conversion:

`shape.*tuple|tuple.*shape`

Then have a look at the

[2020-03-28 16:50] SahanWickramage commented on #656
how about something like this? Now the "Browse" button stays on center all the time to keep the consistency. I kept it simple to reduce the cognitive load on the user. And I tried to give a awareness about what is going on and what the user can do about it.
![libertem_emptystate](https://user-images.githubusercontent.com/35292360/77828559-389fd300-7142-11ea-8380-fb13175d91c0.png)

[2020-03-29 05:56] SahanWickramage commented on #387
Hello @sk1p. Thank you for consideration and sorry for the inconvenience. I sent you and @uellue an email including a link to my proposal. I got the email addresses from the LiberTEM GSoC page (https://libertem.github.io/LiberTEM/gsoc.html).

[2020-03-29 07:47] sayandip18 commented on #387
@SahanWickramage  just to let you know, I am working on this issue too. You are free to choose any issue you want to work on, though. All the best for GSOC 2020!!!

[2020-03-30 09:23] sk1p opened #695 "Travis CI integration broken?"
In https://github.com/LiberTEM/LiberTEM/pull/694 there is no travis ci anymore in the "checks" section - somehow the connection got severed. Need to find out what happened and how to fix this...

[2020-03-30 09:56] sk1p commented on #656
@SahanWickramage I like the simplicity. Maybe the duplicated logo on the top-left can be removed from the empty state screen? The "footer" element being on the bottom right creates a bit of asymmetry, maybe also center that? As detailed above, the browse button should be a "primary action" and highlighted appropriately. In the interest of time, I think you can start with the PR already

[2020-03-30 12:00] twentyse7en commented on #601
when the button is clicked, action "connect" is [dispatched](https://github.com/LiberTEM/LiberTEM/blob/01b4c64d25647d9570243723fcc8560f86fc73ad/client/src/cluster/components/ClusterConnectionForm.tsx#L14).Then it makes a [request](https://github.com/LiberTEM/LiberTEM/blob/01b4c64d25647d9570243723fcc8560f86fc73ad/client/src/cluster/sagas.ts#L8) to the server for cluster connection. [Here](https://g

[2020-03-30 15:56] #599 closed

[2020-03-30 16:29] sk1p commented on #601
Nice! Looks like you found out where the request is done - that's also where the error handling should be done. Also have a look at [the `connectToCluster` function itself](https://github.com/LiberTEM/LiberTEM/blob/01b4c64d25647d9570243723fcc8560f86fc73ad/client/src/cluster/api.ts#L3) - maybe part of the error handling should also live there. Quite possibly instead of a 500 response, the server sh

[2020-03-30 16:32] sk1p commented on #695
Could probably also be solved by finishing the Azure migration :grinning:

[2020-03-30 16:44] sk1p commented on #695
![image](https://user-images.githubusercontent.com/5778/77938768-7f163e80-72b6-11ea-9ddc-034f41822bcb.png)

[2020-03-30 16:46] sk1p commented on #695
So the switches turned themselves off, and can't be turned on again. Organization access looks fine on the first glance:

![image](https://user-images.githubusercontent.com/5778/77938977-cbfa1500-72b6-11ea-93cc-d1e798dc4d87.png)

[2020-03-30 17:02] twentyse7en commented on #601
I will give a try first

[2020-03-30 17:15] sk1p commented on #695
Hmm...

![image](https://user-images.githubusercontent.com/5778/77941653-cb637d80-72ba-11ea-8ff5-45bab24544c5.png)

Doesn't finish syncing, doesn't show organizations...

[2020-03-30 17:30] sk1p commented on #316
Additional related project: https://github.com/asyncapi/asyncapi

[2020-03-30 17:42] Iamshankhadeep commented on #316
I had come across it while I was researching, But it does not have code gen support for typescript and python. So I never mentioned about it.

[2020-03-31 09:07] AnandBaburajan commented on #692
Ideally the `tileshape` textbox should be updated every time a different `ds_path` is selected, right?

In this case, the open file dialog fallbacks to RAW, so I think it won't be a problem.

[2020-03-31 12:04] sk1p commented on #692
I think so, although the `tileshape` tweak will soon be removed from the GUI (possibly replaced with a more appropriate tweak based on size in bytes, not shape, and negotiating the shape individually with the UDFs, #554), so it is not so important.

Think about the edge case: how many HDF5-internal datasets can be loaded in 3 seconds? That's the case that still has to work well. If the timeout is

[2020-03-31 12:54] AnandBaburajan commented on #692
@sk1p So the following needs to be done:

1. Allow user to enter their own ds_path.
2. Limit number of `ds_paths` in the dropdown to `n`, in case of a huge dataset.
3. If the timeout is hit, show an error `Parameters couldn't be detected` and open the HDF5 dialog, instead of RAW.

Right?

[2020-03-31 13:02] sk1p commented on #692
I would determine `n` experimentally - like: from what point on does the GUI struggle? It is also possible to use [a searchable drop down](https://react.semantic-ui.com/modules/dropdown/), which should perform better. It could display `n` largest `ds_path`s, and then still allow to select others by searching. Does that make sense?

[2020-03-31 13:09] AnandBaburajan commented on #692
Yes, thanks!

[2020-03-31 19:47] sayandip18 commented on #589
Hey, can I work on this?

[2020-03-31 21:00] sayandip18 commented on #258
I see this issue is more than year old, is it fixed yet?

[2020-04-01 07:00] twentyse7en commented on #601
I tried out to figure out what's happening on the [server](https://github.com/LiberTEM/LiberTEM/blob/70198d238aaa114e3f86a49e061f3caa181aac0b/src/libertem/web/connect.py#L37). But it felt complicated to me. How can I send a different message when the cluster connection isn't successful.

[2020-04-01 09:52] sk1p commented on #258
I don't think it is fixed, can you reproduce it?

[2020-04-01 10:03] sk1p commented on #601
It may look complicated at a first glance, but most of the code is not really relevant for fixing this issue. Try to go through it, line by line, and keep track at which point the cluster connection is established. Understanding everything after that is not needed for this issue. Also, keep in mind that this issue only deals with the non-local cluster.

First, you have to find out what happens if

[2020-04-01 10:11] sk1p commented on #589
Sure. Have you worked with profilers before? Did you already play around a bit with the profiling techniques [from the documentation](https://libertem.github.io/LiberTEM/udf/profiling.html#udf-profiling)? A good exercise is to pick some UDF (can be one of the built-ins), run it, and see where most of the time is spent. Try not to limit yourself to only the UDF code, also see how much is spent in L

[2020-04-01 14:14] sayandip18 commented on #258
I think so. This is what I got.
[code]

[2020-04-01 14:17] sayandip18 commented on #258
Also, [this](https://medium.com/@presh_onyee/activating-virtualenv-on-windows-using-git-bash-python-3-7-1-6b4b21640368) this helped me and I think we can include this in the documentation maybe after fixing the issue.

[2020-04-01 14:18] twentyse7en opened #698 "Button to make the server stop"
An example as in Jupyter notebook :

![quit](https://user-images.githubusercontent.com/59721339/78147599-5d04f380-7451-11ea-9f50-a541dfa879c9.png)

[2020-04-01 15:22] sk1p commented on #258
:+1: - looks like it!

Sure, maybe as a link in a "notes" section at the bottom of the installation page?

[2020-04-01 16:34] sayandip18 commented on #258
Ok!

[2020-04-01 16:41] sayandip18 commented on #589
No, I haven't worked with profilers before. And that's the reason I chose this issue.

What are "internals"?

I hope so!

[2020-04-01 17:29] twentyse7en commented on #601
I tried to go through line by line. [This](https://github.com/LiberTEM/LiberTEM/blob/70198d238aaa114e3f86a49e061f3caa181aac0b/src/libertem/executor/dask.py#L198) is the function responsible for making cluster connection. A [partial](https://github.com/LiberTEM/LiberTEM/blob/70198d238aaa114e3f86a49e061f3caa181aac0b/src/libertem/web/connect.py#L42) function is created first.I didn't understand these

[2020-04-01 17:41] twentyse7en commented on #601
For just testing, I put [this](https://github.com/LiberTEM/LiberTEM/blob/70198d238aaa114e3f86a49e061f3caa181aac0b/src/libertem/executor/dask.py#L198) in a try block. Then there was no error, but now the server is sending response as the cluster connected.

I would like to send a different response when cluster is not connected. Then client could show some error message to user and reset the button

[2020-04-01 18:19] sk1p commented on #601
Yeah, this is used here because `sync_to_async` only takes a function, not a function and arguments.

For understanding them, you need a bit of context how the web API works. The Web API is completely asynchronous - which means that handling of multiple requests can be done concurrently (maybe best described as "interleaved" with another?). In detail, every time you read `await`, you can imagine t

[2020-04-01 19:13] sk1p commented on #589
From a user's perspective, there is a difference between their own code in a UDF (which is what they may be interested in profiling!) and our "internal" code: I/O, "data logistics", general bookkeeping etc.

[2020-04-02 11:38] matkraj commented on #687
@sk1p DM supports 3D tiffs as well. Download function is great! Also any Download from CoM goes into

and in console:
[code]

[2020-04-02 15:53] sk1p commented on #695
Seems to be fixed [by re-authorizing travis](https://travis-ci.community/t/github-pr-is-being-built-but-result-is-not-shown/7025/2)

[2020-04-02 15:53] #695 closed

[2020-04-03 15:05] sayandip18 commented on #258
I just came across the [system error codes](https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-). Here, code 0 actually denotes successful completion of operation whereas I've got WinError 0. How is this possible?

[2020-04-03 15:07] sayandip18 commented on #258
Also, invalid handle is supposed to be error code 6.

[2020-04-03 20:16] sk1p commented on #258
Sure thing!

[2020-04-04 17:49] SahanWickramage commented on #656
I'm struggling to implement the one-time rendering of the empty state. Because the empty state should disappear after clicking the "Browse" button for the first time. @sk1p , do you have any suggestions to implement the one-time rendering?

I will fix the footer element. Furthermore, shall we keep the left side LiberTEM logo and replace the center LiberTEM logo with something else? left side logo

[2020-04-05 09:34] sayandip18 commented on #637
Found a typo in [line 242](https://github.com/LiberTEM/LiberTEM/blob/05edd76e46ef7dbeafa50fa9332809c75767dcdc/src/libertem/io/dataset/base.py#L242)

[2020-04-05 10:47] sk1p commented on #637
Nice catch, feel free to open a PR!

[2020-04-05 21:15] sayandip18 commented on #637
This is strange! There's no file named base.py in my repository. Do I have to create the entire file?

[2020-04-06 09:44] sk1p commented on #637
That's because the `base.py` file has been broken up [into more but shorter files](https://github.com/LiberTEM/LiberTEM/tree/master/src/libertem/io/dataset/base)

[2020-04-06 09:51] sk1p commented on #656
It doesn't have to be one-time - if the user closes all data sets (and the file browser), they can be shown the empty state again. As for suggestions - have a look at the redux state using redux devtools at the beginning and see how it changes once you click on browse etc. - that should give you an idea what the condition should be for displaying the empty state

I'm not sure what to replace it wi

[2020-04-06 13:48] uellue commented on #554
Discussion with @sk1p:

* We can leave the signal size open as a free variable since this is the "fast" axis and typical optimized algorithms do their own blocking for L1 cache friendliness in this direction.
* The total tile size in bytes only has a maximum, no minimum: Always as large as possible to reduce overhead in LiberTEM!

In conclusion, remaining are nav size min and max, and total size m

[2020-04-06 14:08] uellue commented on #554
Discussion with @sk1p: We need diagnostic tools.

* Negotiation inputs and results
* I/O method
* Decoding or not

[2020-04-06 14:34] uellue commented on #554
Information required for size negotiation:
* `input_dtype`
* `ApplyMasksUDF`: Number of masks, back-end (dense, or what kind of sparse, torch, ...) and mask `dtype`
* Possibly `dtype` of result buffers if they are not determined by `input_dtype` -- for example user-provided `dtype`
* Possibly cache size(s) of the CPU it will run on
* With #364: Run on GPU or CPU, which GPU (available RAM -- anythi

[2020-04-06 17:03] sayandip18 commented on #637
The current master doesn't have the `base.py` file. Also, the [link](https://github.com/LiberTEM/LiberTEM/blob/05edd76e46ef7dbeafa50fa9332809c75767dcdc/src/libertem/io/dataset/base.py) points to a "tree", I think.

[2020-04-06 17:25] sk1p commented on #637
Ah, sorry. This:

was wrong, because the current version _no longer_ has the `base.py` file. But you can find the same classes in that directory of smaller files (you can have a look [at the `__init__.py` file](https://github.com/LiberTEM/LiberTEM/blob/master/src/libertem/io/dataset/base/__init__.py) as a kind of "index" of the package).

A tree is how git maps directories to its internal data str

[2020-04-06 17:36] sk1p commented on #687
@matkraj thanks for the feedback and for trying out the new feature! Yeah, I still have to think about how to best support downloading CoM results. Would it work for you if the x and y components were available as separate "layers"? I also thought about returning complex values, but that won't work well for both tiff and raw export, as far as I can tell...

[2020-04-07 10:12] matkraj commented on #687
@sk1p I would prefer multiframe TIFFs -> I just tested a 2 layer 32 bit TIFF and they are supported by GIMP (v2.10 up to date version at least, only trouble is that it does not stretch the contrast out of the box, Colors > Auto > Stretch contrast needs to be used). I guess complex images can be separated into 2 frames and imported like that.

[2020-04-07 10:15] uellue commented on #687
A zip with layers as individual files sounds like a good idea!

[2020-04-07 10:31] uellue opened #701 "Release 0.5.0"
# Release checklist

## Before (using a release candidate package)

- [x] Review open issues and pull requests
- [x] Handle deprecation, search the code base for :code:`DeprecationWarning`
  that are supposed to be removed in that release.
- [ ] Full documentation review and update,
  - [x] including link check using ``sphinx-build -b linkcheck "docs/source" "docs/build/html"``
- [x] Update the ex

[2020-04-07 10:55] uellue commented on #591
Closing, implemented with #669. :-) Thx again @twentyse7en!

[2020-04-07 10:55] #591 closed

[2020-04-07 11:09] uellue commented on #452
@sk1p referring to https://github.com/LiberTEM/LiberTEM/pull/482#issuecomment-610323771: Include in 0.5 or bump to 0.6?

[2020-04-07 11:13] uellue commented on #574
Bumping the remaining parts to 0.6 together with #554.

[2020-04-07 11:30] uellue commented on #597
@sk1p  Attribute to cosmic rays and close 😉, or postpone to 0.6?

[2020-04-08 08:58] sk1p commented on #452
Third option: close in favor of #565 ?

[2020-04-08 09:05] sk1p commented on #597
Hmm, as the code that could have caused this has changed quite a bit, I'm going to close this. If this is still a problem, I guess we will see the error again.

[2020-04-08 09:05] #597 closed

[2020-04-08 09:21] uellue commented on #452
Ok, that's easy! 😄

[2020-04-08 09:21] #452 closed

[2020-04-08 15:09] sayandip18 commented on #436
I have managed to reproduce this. What are the prerequisites for this issue?

[2020-04-09 08:47] uellue commented on #698
Is this more of a "nice to have" or does it solve a specific issue?

[2020-04-09 10:35] twentyse7en commented on #698
"nice to have"

[2020-04-09 10:54] sk1p commented on #698
Possibly the issue of stopping the LiberTEM server if you didn't start it from a terminal, for example via https://github.com/sk1p/libertem-jupyter-proxy

[2020-04-09 12:36] uellue commented on #698
Ok, good point!

[2020-04-09 13:14] uellue commented on #663
Does it mean we should do sth about it or is it just for information?

[2020-04-09 13:20] uellue commented on #679
Closing here since we now test on OS X #681. I'll take care of the LiberTEM-blobfinder specific issue separately. Ref: https://github.com/LiberTEM/LiberTEM-blobfinder/pull/23

[2020-04-09 13:20] #679 closed

[2020-04-09 13:25] uellue commented on #630
@sk1p Where would the concatenation be used? Do you have a specific example where the lack of this feature makes things complicated?

[2020-04-09 13:27] uellue commented on #628
:+1:

[2020-04-09 13:30] uellue commented on #623
Depends on #565

[2020-04-09 13:40] uellue commented on #435
Refs #706

[2020-04-09 13:44] sk1p commented on #663
That's the question - do we need to do something? For now, it's just here as a reminder

[2020-04-09 13:46] uellue commented on #286
Since UDFs are now in production for some time already, I'd close this and leave the remaining points as individual issues.

[2020-04-09 13:46] #286 closed

[2020-04-09 13:47] sk1p commented on #630
It's not complicated, you just have to get used to it. In the last few days, I typed `some_other_tuple + tuple(some_Shape_instance)` quite a few times, but someone new to LiberTEM might stumble over that.

[2020-04-09 13:47] uellue commented on #247
Refs #706

[2020-04-09 13:50] uellue commented on #630
Ok I see :-)

By the way, for anyone interested in this: https://www.python-course.eu/python3_magic_methods.php

[2020-04-09 13:52] sk1p commented on #675
The issue described in the last comment will probably be fixed by #700 /cc @AnandBaburajan

[2020-04-09 13:53] uellue commented on #233
We should review the opening dialogues as part of #706 since the tile shape parameter will be completely meaningless after that.

[2020-04-09 13:56] uellue commented on #399
Related to #675

[2020-04-09 13:56] uellue commented on #216
Sibling of #675

[2020-04-09 14:00] uellue commented on #219
Shuffling should probably be done through other means than direct communication between LiberTEM workers. Likely, "diagonal" access to data will happen through the storage back-end by just reading the data that is required. Refs #651

[2020-04-09 14:00] #219 closed

[2020-04-09 14:01] uellue commented on #74
Refs #473

[2020-04-09 14:08] sk1p commented on #74
See also #706 : https://github.com/LiberTEM/LiberTEM/blob/08c93838dc5f546fcfe3b9916eeaff055ce9379e/src/libertem/io/dataset/base/backend.py#L225 :grinning: - this can be made more intelligent still, and needs to be benchmarked, but it's a start.

[2020-04-09 14:22] uellue commented on #530
I'll test this as part of the release testing and see if I can fix it.

[2020-04-09 16:40] #588 closed

[2020-04-09 16:40] #646 closed

[2020-04-09 17:06] saisunku commented on #630
@sk1p @uellue sorry for the dropping the ball on this, I got busy with research. I will work on it this weekend. I will first find instances of concatenation in existing code and compile a summary of them.

[2020-04-09 18:05] bdalevin commented on #687
I'm unable to save COM images in any format. When I try to do so, the server GUI becomes a blank page with the words "500: Internal Server Error" printed on the screen.

[2020-04-09 20:39] SahanWickramage commented on #238
I would like to contribute to this issue.

[2020-04-10 11:13] sk1p commented on #238
Sure! I guess a first step would be to understand the `ApplyMasksUDF`, understand the different types of masks, and understand the difference between sending the mask data with the task vs. sending a factory function. A good practical application to look at is the [radial fourier analysis](https://github.com/LiberTEM/LiberTEM/blob/master/src/libertem/analysis/radialfourier.py) - this possibly gene

[2020-04-10 11:15] sk1p commented on #627
Sorry we didn't answer this before. This was done in https://github.com/LiberTEM/LiberTEM/pull/708 - basically it means updating our contributor and creator files and crediting people from the hackathon for their contribution.

[2020-04-12 13:12] sk1p opened #713 "Spurious test failures"
Mostly seen on Win/Mac OS X until now, examples:

- https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/674037981
- https://ci.appveyor.com/project/sk1p/libertem/builds/32124574/job/sguyy9uai3qb7l3q

[2020-04-12 13:25] twentyse7en commented on #698
I would like to work on this, can you give some details regarding jupyter part.

[2020-04-12 13:35] sk1p commented on #698
You can try this yourself: run LiberTEM from jupyterlab, and kill the libertem-server process. What happens: does libertem-server stay dead, or is it revived? If it is revived, why is that? Example: the GUI keeps doing HTTP/websocket requests → this is easily fixable, other example: jupyter-proxy-server or how it's called just restarts any child processes → not so easy to fix, as it means we need

[2020-04-12 13:37] sk1p opened #714 "Cluster connection form: improve UX after error"
See comment in #699:

[2020-04-12 13:38] sk1p commented on #601
Fixed by #699

[2020-04-12 13:38] #601 closed

[2020-04-13 04:55] saisunku commented on #630
@sk1p I used your regular expression `shape.*tuple|tuple.*shape` to search the codebase and compiled a list of `tuple` and `Shape` object concatenations. Most of them are for `Shape.sig` but there are a few that are `Shape.nav` or the entire `Shape` object. As you said, this method doesn't catch all of the concatenations. Let me know what you think. Thanks.

`Shape.sig + tuple`
prototypes\smallfil

[2020-04-13 14:03] sk1p opened #715 "Contributing: prevent merge conflicts"
Currently, if a PR with changes in the client is open for a while, it is almost guaranteed to cause git conflicts. We could prevent those by advising contributors to open those PRs as WIP and not including a built client, until the PR is ready to merge and approved.

[2020-04-13 16:40] sk1p opened #716 "Re-integrate direct I/O"
After #706 is merged, the ad-hoc implementation of direct I/O will temporarily not be available in the raw dataset. It should be implemented as an I/O backend instead, which is then available for most file formats.

- [x] Implement direct I/O backend
- [x] Add I/O backend selection, where each dataset can return its supported io backends
- [x] Replace "enable_direct" checkbox with a backend dropdo

[2020-04-13 16:43] sk1p opened #717 "Add an experimental HTTP-based I/O backend"
For example, could start with an S3 backend.

- [ ] perform all ad-hoc reads (for example for file headers) via the I/O backend
- [ ] support for directory browsing in the I/O backend

[2020-04-13 22:22] sk1p commented on #713
Some more:
https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/674610052
https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/674610053
https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/674610054
https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/674610055

[2020-04-14 09:31] AnandBaburajan commented on #233
@sk1p, @uellue Is the plan still to replace scan & detector size fields with dynamic ones? If yes, can I work on this? Maybe I could work on the raw dataset's fields first.

[2020-04-14 09:50] sk1p commented on #233
Sounds good, and is related to your GSoC project :+1: as @uellue mentioned, the tile shape parameter will be completely gone soon, so best to concentrate on scan size and detector size.

:+1:

I would suggest to keep keyboard users in mind: it should not be harder for a keyboard-only user to enter a tuple-style value than it currently is. For example, the focus could jump to the next field when hi

[2020-04-14 10:49] sk1p commented on #630
@saisunku Okay! Looks like the `Shape.sig + tuple` case is the most common.

Coming back to the original question:

Hmm, I would prefer if `__add__` blindly converted to a tuple, and if we kept the behavior of tuple addition, so the Shape.sig + tuple cases above can be written as ``(1, 2, 3) + shape.sig`` in the future. While this is the most common case, and _could_ be implemented as ``(1, 2, 3)

[2020-04-14 12:50] uellue commented on #687
Temporarily assigned to 0.5 release to fix CoM 500 error in download. CC @sk1p

[2020-04-14 13:14] #715 closed

[2020-04-14 13:47] sk1p opened #720 "Generic Correction facility"
See #398  and #706

- [ ] Upload custom gain map and dark frame, and allow control over what is used by GUI
- [ ] Allow UDFs access to gain/dark/... data and allow UDF to signal that it wants uncorrected data (useful for optimizations, for example folding correction into GEMM)

[2020-04-14 14:17] uellue commented on #635
Discussion with @sk1p: The `StdDevUDF` currently expects a constant tiling scheme in signal direction across the entire dataset. With negotiation and GPU support #364, hlding this assumption will no longer be practical or desirable.

Proposed solution:

* A constant tiling scheme in signal direction is guaranteed only within the partition.
* The per-tile frame counters in `StdDevUDF` are implement

[2020-04-14 14:30] sk1p commented on #635
How does the tile index and slice end up in the UDF?

Instead of passing only `tile.data` into `process_tile`, pass the `DataTile` instance. `DataTile` then needs to know the index in the scheme, but can also have a reference to the signal slice. Instead of putting the data into a `.data` attribute, `DataTile` should inherit from `np.ndarray` and behave like any other numpy array.

Later we can al

[2020-04-14 14:50] uellue opened #722 "Document proper use of upcoming tiling info"
Use `StdDevUDF` as example on how to use the upcoming tiling information (#706 #635).

[2020-04-14 15:08] uellue commented on #554
DIscussion with @sk1p: Lower and upper bound for signal size does make sense for `kind='sig'` reductions to make sure that the piece of buffer fits the cache.

[2020-04-14 16:53] saisunku commented on #630
@sk1p

This makes sense. One more idea. How about implementing `__add__` only when either `sig_dims` or `nav_dims` are zero? If both of these are not satisfied, we return `NotImplemented`. This will ensure that there is no confusion but `tuple + Shape.sig` and `tuple + Shape.nav` will still work as expected.

[2020-04-14 17:37] sk1p commented on #630
:+1: :+1: - other cases are then still possible by explicitly "casting" the `sig_dims` away by calling `tuple` on the `Shape` - perfect!

Dynamically raising `NotImplemented` I would disagree with - it can't be fixed by implementing a method somewhere. How about `ValueError` instead? From [the description](https://docs.python.org/3/library/exceptions.html): "Raised when an operation or function re

[2020-04-14 17:58] saisunku commented on #630
OK! I will implement this and make a pull request.

[2020-04-14 21:42] sk1p commented on #720
Also note comment from @fwin22:

It could be helpful if `exclude_pixels` in `correct` supports both a list of defect pixels, i.e., coordinates, as well as a boolean array which is True at position of defect pixels.

    from scipy.ndimage import affine_transform
    matrix = np.array([[a, b], [c, d]])
    arr = affine_transform(arr, matrix)

[2020-04-15 23:07] sayandip18 commented on #258
I did this
`try:
    if getConsoleMode(file_handle, byref(mode)):
            return mode.value
    except ctypes.WinError(get_last_error()):
            print("FAILED!")`

in line 32, 33 of `win_tweaks.py` and got this as error msg

`$ libertem-server
Traceback (most recent call last):
  File "C:\Users\SANDIP\virenv\lib\Scripts\libertem-server-script.py", line 11, in <module>
    load_entry_point

[2020-04-16 06:54] sayandip18 commented on #258
After logging both `disable_quickedit()` and `get_console_mode()` I got a completely different error message

`$ libertem-server
[2020-04-16 12:16:39,310] INFO [libertem.web.server.main:127] listening on localhost:9000
Traceback (most recent call last):
  File "C:\Users\SANDIP\virenv\lib\Scripts\libertem-server-script.py", line 11, in <module>
    load_entry_point('libertem', 'console_scripts', 'l

[2020-04-16 08:59] uellue opened #725 "Size of task results exchanged with Dask cluster suspected to be 16x inflated"
LiberTEM is unusably slow when using a remote Dask cluster over a typical broadband internet connection of about 1 MB/s, with task results coming in only every few seconds. The system monitor shows maxed-out network traffic while an analysis is running and drops to almost zero background load when it finishes.

This is in contradiction with the expected size of task results: On 256x256 frames, a t

[2020-04-16 09:16] sk1p commented on #725
Thanks for the report, i'll have a look today.

[2020-04-16 09:21] sk1p opened #726 "Refactor: info part of dataset detect results should not be part of the dataset params type"
See discussion in the commits of #700 - instead of keeping [a "blacklist" of info parameters](https://github.com/LiberTEM/LiberTEM/blob/5cfd119e6eea084011f08278d71aa90f05666939/client/src/dataset/components/DatasetParams.tsx#L21), the ["info" part (dataset_paths here)](https://github.com/LiberTEM/LiberTEM/blob/5cfd119e6eea084011f08278d71aa90f05666939/client/src/messages.ts#L105) should be properly

[2020-04-16 09:33] sk1p commented on #725
Did this happen with all `DataSet`s, or with one in particular?

[2020-04-16 09:50] sk1p commented on #258
It seems `mode` is `None` in that expression - you can't do bitwise operations with `None`. I think you need to try to find the right part of the code to catch the error - if you just return `None` from `get_console_mode`, any user of that function will need to check for `None`.

[2020-04-16 09:51] sk1p commented on #725
I could reproduce this with a MIB dataset. I think I know the cause and I'll work on a proper fix.

[2020-04-16 09:58] uellue opened #727 "File type "auto" not working on remote executor"
Setup: Jupyter notebook on Windows, connecting to remote dask cluster on Linux.

After fixing remote opening of BLO files (PR pending), the following error remains when type "auto" is specified:

[code]

The message in the dask worker shell:

[code]

[2020-04-16 10:02] uellue commented on #727
As a comment, I found it hard to follow what exactly happens where when datasets are autodetected, with frequent jumps between code that is run on the executor and code that runs on the control node. Refs #518

[2020-04-16 10:13] uellue commented on #727
The issue appears in the GUI as well. The detection jumps to "RAW" for all file types. Specifying the correct parameters (type etc) works for EMPAD and BLO with the fixes of #728 applied.

[2020-04-16 10:17] uellue commented on #725
Great that you could reproduce it! I am tentatively including it in 0.5 since you are working on a fix already. :-)

[2020-04-16 10:20] sk1p commented on #727
Can you have a look at `tblib.pickling_support` and see if either a) you have a different version installed on moellenstedt than on your local PC, or b) the module is different for win/Linux platforms.

[2020-04-16 10:34] #692 closed

[2020-04-16 10:35] uellue commented on #727
I have the same version 1.6.0 of `tblib` on both systems. They both have the `tblib.pickling_support.unpickle_exception` attribute. Is there a way to get more diagnostics? I couldn't find out how.

The core of the issue seems to be that somewhere somehow a function that is run with `run_function()` on the executor triggers an uncaught `OSError` exception, which is then tripping up `tblib`, right?

[2020-04-16 11:05] sk1p commented on #727
Hmm, possibly. I guess this could be fixed by using more explicit messaging, instead of relying on exception serialization.

Totally agree. I think this will become much cleaner when/if we decide to implement a different RPC mechanism - most likely that will force us to implement a much cleaner RPC layer anyways (related to #199)

[2020-04-16 12:18] #725 closed

[2020-04-16 12:35] #530 closed

[2020-04-16 12:53] sayandip18 commented on #258
I meant modifying the functions to catch the exception. Also, I think I have managed to fix the issue. Will start a PR soon.

[2020-04-16 12:57] sk1p opened #730 "HDF5: drop down not shown when opening from history"
When opening a HDF5 file that is in the file history (from before the drop down was implemented), instead of the drop down, only a simple text input is shown.

Instead, even for these files, the drop down should work as expected.

I think the root cause is actually the mixing of info and params, as the params are taken from the history (from Local Storage), and the HDF5 dataset expects the params

[2020-04-16 13:46] sk1p commented on #436
@sayandip18 this is mostly an issue that can be solved if you know a bit of TypeScript. The draggable handles all have some kinds of constraints applied already, so this issue should be fixable by changing those constraints.

Related: on a data set that is has a 1 for one of the navigation axes, the frame picking mode errs out - I think the default values need to be fixed there.

[2020-04-16 14:26] sk1p commented on #635
I updated the `Stddev` UDF for the new `TilingScheme` API in 0ed27423986b866e73c15a4c230e1232281a4d30, please have a look and let me know if this is correct.

[2020-04-16 14:42] sk1p commented on #725
This is now fixed, note that for very large detectors, the result transfer is still the bottleneck (related to #134 and #242)

[2020-04-16 16:02] sk1p commented on #589
Another profiler: https://github.com/benfred/py-spy - can "attach" to running python processes, including support for subprocesses etc. - looks very useful!

[2020-04-17 08:45] uellue commented on #727
`OSError` is indeed platform-dependent: https://docs.python.org/3/library/exceptions.html#OSError

What about including a platform-independent wrapper exception for `OSError` and making sure we catch, re-package and reraise any `OSError` in functions that run on the executor? Can probably be done with a decorator?

[2020-04-17 09:01] sk1p commented on #727
Maybe a `DataSetDetectFail` exception subclassing `DataSetException`?

Instead of using a decorator, we could also have a wrapper method in the `DataSet` base class, which calls the underlying implementation and converts any exception into a `DataSetDetectFail`. That way we don't have to sprinkle decorators all over the place :grinning:

[2020-04-17 09:20] AnandBaburajan commented on #726
Note to self: Fix https://github.com/LiberTEM/LiberTEM/pull/732 too

[2020-04-17 12:54] uellue commented on #727
Actually, it is sufficient to define functions that are part of a module instead of lambda or nested functions for all platform-dependent code that should run on a remote executor. I've documented that as a tip in #734.

[2020-04-17 18:06] twentyse7en commented on #714
Can I apply the following approach, save the current URL and cluster type when the form is submitting. When cluster connection fails, re-open form with saved values.

[2020-04-17 20:05] sk1p commented on #714
Sounds like it could work - should be put into the localstorage together with the rest of the config

[2020-04-19 09:36] sk1p commented on #589
For the `perf`-related section: https://github.com/iovisor/bcc/blob/master/tools/lib/ucalls_example.txt

[2020-04-20 05:40] #727 closed

[2020-04-20 06:15] saisunku commented on #630
@sk1p Another question. What about adding two `Shape` objects? Could we implement that as a concatenation of both the navigation and signal dimensions?

[2020-04-20 07:46] sk1p commented on #630
Sounds sensible, if we still  keep the constraint of having nav or sig 0. This would be to support something like `s3 = s1.nav + s2.sig`, right?

[2020-04-20 08:40] #730 closed

[2020-04-20 16:09] saisunku commented on #630
@sk1p I was thinking `S = S1 + S2` where `S.sig = S1.sig + S2.sig` and `S.nav = S1.nav + S2.nav`

[2020-04-21 10:52] sk1p commented on #720
Also may still need some test stability fixes:

<details>
[code]
</details>

[2020-04-21 15:35] uellue opened #739 "Interplay of slicing and flattening"
When implementing Numba-based algorithms for `process_tile()`, both input data and result buffers are often flattened for working in the signal direction since it makes it easier to implement routines independent of the dataset shape. `StdDevUDF` would be an example.

If the tile or result buffer views are not contiguous, they can't produce a flattened view: https://docs.scipy.org/doc/numpy/refere

[2020-04-21 16:27] uellue commented on #739
As a remark, we should make sure that all UDFs are tested against odd datasets and tiling schemes as soon as #706 is merged.

[2020-04-21 16:53] uellue commented on #739
DIscussion with @sk1p : We are favoring a solution where `kind="sig"` buffers get a cached contiguous copy in case the signal dimension of a slice can't be flattened in or around https://github.com/LiberTEM/LiberTEM/blob/9557ff6ecc384552c757f1becb48e16766270fd0/src/libertem/udf/base.py#L183-L185. The copy can be merged back after the `process_tile()` loop is finished. Since slices don't overlap an

[2020-04-21 16:54] uellue commented on #739
In summary, we can guarantee from DataSet side that tiles are contiguous, in the worst case by reducing tile size and creating a copy in L3 cache. For `kind="sig"` buffers, we can create copies and merge them back with acceptable efficiency.

[2020-04-22 12:08] uellue commented on #739
Closing here since mostly resolved in #738:

* Transparent mechanism to make result buffer views contiguous
* `libertem.common.buffers.reshaped_view()` as an alternative to `numpy.ndarray.reshape()`
* Test cases for new dataset implementation added as a TODO item in #706

[2020-04-22 12:08] #739 closed

[2020-04-22 14:06] uellue opened #740 "GUI: Selector handle behavior"
The selectors in the GUI behave oddly in some instances:

## Drag and drop

Observed behavior: Quickly dragging outside the host panel drops the selector at some random position on the way. One has to click and drag it again to move it again. This behavior makes it difficult to move handles right to the border of the panel: They are always dropped a bit before. They can only be moved to the border

[2020-04-22 14:16] uellue commented on #441
As a comment, this is also relevant for the EMPAD dataset. Right now, the `scan_size` parameter is overwritten by information from the XML file if an EMPAD dataset is opened from XML. Users might want to open data with their own `scan_size`, contrary to information in the XML file.

[2020-04-22 14:27] uellue opened #741 "Glitch in file opening dialogue"
How to reproduce in the GUI, in this case mixing EMPAD XML and BLO:

* Click "+Browse"
* Select a file to get the file loading dialogue
* Click "+Browse" again while the previous dialogue is still open
* Select another file
* Click "Load Dataset"

Observed behavior:
* Only one file loading dialogue is visible even if a second file was selected
* The parameters from both file types seem to get mixe

[2020-04-22 15:26] sk1p opened #743 "Add logging level argument to cli"
To allow users to quickly debug something, the logging level should be configurable from the cli.

[2020-04-22 18:38] AnandBaburajan commented on #741
@uellue Can I look into and try to solve this?

[2020-04-23 11:10] sk1p commented on #630
The question here would be what the concrete use case is. I think it would be better to postpone this until we do have a use case, and for now first implement the other cases.

[2020-04-23 11:17] sk1p commented on #741
Sure, go ahead!

[2020-04-23 11:43] sk1p commented on #740
There is a reason for the current behavior: a common behavior seen in dragging interfaces is that the user starts to drag something, moves the mouse outside of the "dragging area" over some unrelated element and stops dragging. The "mouse up" event goes to the unrelated element, which then may do whatever it wants, possibly swallowing the event. So the drag does not end, even though the mouse butt

[2020-04-23 13:29] sk1p commented on #698
Using the process manager of the operating system, or, for example, `kill` on Linux.

[2020-04-23 21:54] saisunku commented on #630
@sk1p OK, thanks! Please see PR #749

[2020-04-25 11:22] sayandip18 commented on #589
How about this https://github.com/vpelletier/pprofile ? Offers line-granularity and thread-aware profiling.

[2020-04-25 18:47] AnandBaburajan commented on #609
I've managed to reproduce this error:
`ValueError: invalid extra_shape (0, 16, 16): cannot contain zeros`

That's the error right? I'm familiarising myself with UDFs and I've got @uellue's comment.

@sk1p I'd like to work on this. Anything else I should know or keep in mind except uellue's comment? Thanks!

[2020-04-26 13:40] sk1p commented on #609
Sound right, yes.

Don't think so - let me know if you have further questions when you start your implementation. Btw. a good approach for changes like these is to practice TDD and start by writing tests that initially fail, and then work to make the tests succeed.

[2020-04-26 13:42] sk1p commented on #589
You can try and see how well it works - I don't think we are using threads in any performance-critical part, but if the profiler is provably better than the line profiler, we should also include it in the docs.

[2020-04-26 14:25] Iamshankhadeep commented on #743
is it done?

[2020-04-27 09:37] sk1p opened #753 "GUI support for selecting the I/O backend"
I'm not sure about the API yet, by default nothing should change for existing users. But they should be able to switch to direct I/O (#716), or later liburing (#268).

* `ctx.load("some_type", io_engine="direct", path="...")`
* `ctx.load("some_type", io_engine="mmap", path="...")`
* `ctx.load("some_type", io_engine="s3", path="...")`

Maybe the I/O engine can be selected by URL scheme? For example

[2020-04-27 09:38] sk1p opened #754 "Remove tileshape and enable_direct parameters where they still exist"
Cleanup work from #706.

- [x] `tileshape` should be removed/ignored without replacement.
- [ ] remove `enable_direct`

As for `enable_direct`, we can still support the parameter for a while after #716 is done, but it should be moved to a "select i/o engine" kind of parameter (#753), such that it is available for (almost) all formats.

[2020-04-27 09:41] sk1p opened #755 "Finalize and document tile shape negotiation"
#554 will be closed by #706, but I think the interface will still need some changes, and needs to be documented still.

[2020-04-27 10:09] sk1p opened #756 "Add test cases for contiguous copies in `BufferWrapper`"
Extracted from #706: Add test cases for flattening the signal dimension of tiles using `libertem.common.buffers.reshaped_view()` #739

[2020-04-27 12:55] #27 closed

[2020-04-27 12:55] #554 closed

[2020-04-27 12:55] #634 closed

[2020-04-27 12:55] #247 closed

[2020-04-27 12:55] #331 closed

[2020-04-27 12:55] #373 closed

[2020-04-27 12:55] #435 closed

[2020-04-27 12:55] #635 closed

[2020-04-27 14:08] sk1p commented on #743
No, the commits referencing this issue statically set the logging level to `INFO`. This issue is about allowing the user to specify the logging level from the CLI.

[2020-04-27 14:13] sayandip18 commented on #743
By "level" do you mean `DEBUG`, `INFO`, `WARNING`, etc?

[2020-04-27 14:15] sk1p commented on #743
Exactly.

[2020-04-27 14:23] sayandip18 commented on #743
How can the user specify these? Aren't they supposed to be in the code?

[2020-04-27 14:43] sk1p commented on #743
Log levels appear in different places. One is in code - some function decides to call `someLogger.debug(...)`, and a message with level DEBUG is logged. Then, each logger can be configured to only log specific levels, for example, the code could contain `someLogger.debug(..)` statements, but the logger will only pass them on to the handler if the logger level is set appropriately. Then, handlers c

[2020-04-27 19:57] sayandip18 commented on #756
What about [this](https://github.com/LiberTEM/LiberTEM/blob/b8f3c6102142d9fceac1efa790d9d6686f55bce9/tests/common/test_bufferwrapper.py#L57)?

[2020-04-27 20:59] #741 closed

[2020-04-27 21:52] sayandip18 opened #759 "Failure to restart libertem-server after closing it on Bash"
To reproduce, do the following

1.  At first, run the server from Git Bash.

2.  After the web-page appears, use the "X" GUI element on the top-right to close the page. Close the console too.

3. Now try to restart the server from either Bash or Anaconda prompt. You will get this
`OSError: [WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitted`

[2020-04-27 21:55] sayandip18 commented on #759
Can be fixed after #731 is merged

[2020-04-28 07:30] sk1p opened #761 "Corrections test still flaky"
Examples:

https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/680233941
https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/680432615
https://travis-ci.org/github/LiberTEM/LiberTEM/jobs/680286700

Hope it's okay if I assign this to you, @uellue :grin:

[2020-04-29 07:54] twentyse7en opened #762 "Confirm exit on ctrl + c"
If a user accidentally press `ctrl+c`, the server immediately stops. It would be better to have a message to confirm the exit. <br><br>`Shutdown libertem server (y/[n])?`

[2020-04-29 16:15] sk1p opened #763 "numba issue with installation on Windows"
Error message:

[code]

See this numba issue: https://github.com/numba/numba/issues/5600#issuecomment-617937885 - latest numba may need an updated VS redistributable - keeping this issue as documentation until the numba issue is fixed.

[2020-04-29 18:47] #743 closed

[2020-04-30 10:08] sk1p commented on #258
Fixed by #731

[2020-04-30 10:08] #258 closed

[2020-04-30 11:07] uellue commented on #761
Hard to dodge since it is my code that acts up... :-D

[2020-04-30 19:48] sayandip18 commented on #631
Seems like `sum.py`, `logsum.py`, `raw.py` and `masks.py` are the only files that have this kind of access.
The rest should be modified in a way to allow this, right?

[2020-05-01 13:06] sayandip18 commented on #631
What exactly are the purpose of these quotation marks inside the function [here](https://github.com/LiberTEM/LiberTEM/blob/bd29333c745b39186d0bc04bc0c9e0d701752fa8/src/libertem/udf/sum.py#L31)?

[2020-05-04 09:47] sk1p commented on #153
See also: https://github.com/soft-matter/pims

[2020-05-04 10:15] uellue commented on #153
It should support dark reference and gain maps, refs #154

[2020-05-04 10:18] uellue commented on #154
Adding to 0.6 milestone as part of #153

[2020-05-04 12:59] sk1p commented on #153
As a note: @jhgee mentioned that some data was taken without having proper synchronization, this means having frames before and/or after the actual acquisition in the file. So this is another use case where more complicated "re-shaping" of data is needed /cc @AnandBaburajan

On another note, the seq files don't contain any information about the scan, so there was a question if we could read this f

[2020-05-04 15:13] #609 closed

[2020-05-04 16:50] sk1p commented on #720
Some more notes:

* `Context.run_udf`  should take a `Corrections` object, which can contain different parts (dark, gain, hot/cold pixels; later affine transformation matrix or similar?)
* `DataSet` should have a method to extract correction data, if it is supplied in the same data set; the GUI can then extract the correction data by default, but allow to override, for example by uploading differe

[2020-05-04 18:18] sk1p commented on #631
They are the docstring of the method, so in this case, they override the docstring of the base class to be an empty string. We do this sometimes if it doesn't make sense to have the docstring of the base class visible in the documentation of the subclass.

[2020-05-04 18:20] sk1p commented on #631
I'm not sure I follow - none of the `merge` functions can use the attribute-way of accessing the buffers right now, they all require `dict`-like access.

[2020-05-04 18:21] sk1p commented on #756
I think this issue was about a more specific test case, @uellue should know details.

[2020-05-04 18:36] uellue commented on #756
@sayandip18 @sk1p This is a test for the function itself, to make sure that it throws an error if the received data can't be flattened without a copy. Test cases for the rest of the system are still missing:

* Make sure only contiguous views are delivered, even if the signal dimension is sliced unfavourably
* Make sure the system throws an error if the slices in the cache overlap
* Make sure the

[2020-05-04 19:15] sk1p opened #768 "Parameter sidecar files"
From #153:

SEQ files don't contain any information about the scan, so there was a question if we could read this from a "sidecar" file, like we do with other formats with their proprietary implementations. One idea would be to have a simple file, maybe in `.ini` format, or `.yml`, which contains that information. This idea could even be extended to other formats that need additional information,

[2020-05-04 19:20] sk1p commented on #153
The SEQ support will shortly be merged. Thanks to @jhgee for the sample data and pointers! For now, we don't support compression or "weird" bit depths (i.e. other than 8/16/32/64), but both should be possible to add. Let us know if this is interesting to you!

[2020-05-04 19:21] jhgee commented on #153
Thanks a lot!

From: Alexander Clausen <notifications@github.com>
Sent: Montag, 4. Mai 2020 21:20
To: LiberTEM/LiberTEM <LiberTEM@noreply.github.com>
Cc: jhgee <john.gaida@posteo.de>; Mention <mention@noreply.github.com>
Subject: Re: [LiberTEM/LiberTEM] Support for Norpix Seq files (#153)

The SEQ support will shortly be merged. Thanks to @jhgee <https://github.com/jhgee>  for the sample data and

[2020-05-04 19:28] #153 closed

[2020-05-04 19:46] uellue commented on #153
CC @bdalevin we now have native SEQ support in LiberTEM thanks to @sk1p and @jhgee!

[2020-05-04 20:04] #761 closed

[2020-05-05 11:03] twentyse7en commented on #698
Hey @AnandBaburajan can we collaborate on this issue?

[2020-05-05 11:55] AnandBaburajan commented on #698
Sure! I'll check the details and get back to you.

[2020-05-05 14:47] AnandBaburajan commented on #698
@twentyse7en So which part do you want me to focus on? Stopping the server or the button GUI part?

[2020-05-05 16:38] twentyse7en commented on #698
No problem, I will give a try.

[2020-05-05 17:59] AnandBaburajan commented on #233
@sk1p What should the max number of scan or detector size fields be?

[2020-05-06 08:38] sk1p commented on #233
4D-STEM datasets are always 4D, but we also support different nD-shapes via the Python API. In the future the GUI could possibly also support 1D and maybe also 3D visualizations.

Until then, I guess the `scan_size` parameters will be fixed to 2D. So there are a few possibilities:

1) Implement a fixed 2D `scan_size` input
2) Implement a flexible system, but fix it to 2D for now
3) like 2) but als

[2020-05-06 09:18] sk1p commented on #762
Should still allow for a quick way to stop the server, for example pressing ctrl+c twice - I think that's also how `jupyter` does it

[2020-05-07 08:53] sk1p commented on #434
This should now be fixed, as `tileshape` can't be specified anymore (#706)

[2020-05-07 08:53] #434 closed

[2020-05-07 08:55] sk1p opened #776 "Remove deprecations for 0.7"
Title says all: blobfinder, tileshape, ...

[2020-05-07 10:06] jhgee commented on #153
Thanks again for the implementation! We have already used it a lot and it makes data analysis much easier!
We talked about including dark and gain correction of the raw frames. Is that easy to implement, @sk1p ?

[2020-05-07 10:18] sk1p commented on #153
This is on our agenda for 0.6 (#720, #154) - the correction facilities are already in place, only the interface is still missing. I may get some time this or next week to implement this, fingers crossed!

[2020-05-08 09:52] anandbaburajan opened #780 "Enhancement: Allow 1D visualization in the GUI"
An appropriate JS plotting library can be used for the same
Also see: https://github.com/LiberTEM/LiberTEM/issues/233#issuecomment-624516895

[2020-05-08 09:53] uellue commented on #780
See also #134 :-)

[2020-05-08 17:54] sk1p commented on #763
Should be fixed in 0.49.1 now: "We have fixed an issue with the Windows wheels that are requiring too new of a VC runtime. We reverted to an older version of the Visual Studio compiler. This should resolve the import issues with Numba on Windows." Refs #685

[2020-05-08 17:54] #763 closed

[2020-05-12 14:42] #762 closed

[2020-05-12 21:07] sk1p commented on #589
Another one: https://functiontrace.com/

[2020-05-19 15:39] sk1p opened #790 "Windows AppVeyor tests fail"
`hdbscan` fails to build; reported upstream: https://github.com/scikit-learn-contrib/hdbscan/issues/380

[2020-05-19 16:13] #233 closed

[2020-05-20 14:14] uellue opened #791 "Dataset dimension squeezed out"
How to reproduce:

Process data with nav shape (1,), possibly with aux data

Observed behavior:
[code]
squeeze() is likely squeezing out the ds dimension.

[2020-05-20 15:07] uellue opened #792 "Shape of aux data in get_task_data() etc"
How to reproduce: Work with aux data, possibly with extra_shape, and compare the shape that is visible.

[code]

[code]

Result:
[code]

Is this a bug or is this a feature?

[2020-05-20 15:40] sk1p commented on #791
That's a nice edge case, good find!

[2020-05-20 16:39] sk1p commented on #792
If it is the partition shape, then I think it is a feature - `get_task_data` calculates something for a single partition, so it makes sense to set the views also to that partition.

[2020-05-20 18:43] sk1p commented on #790
Root cause: https://github.com/cython/cython/issues/3622

[2020-05-21 04:45] sk1p commented on #790
Fixed by new cython release

[2020-05-21 04:45] #790 closed

[2020-05-27 10:11] sk1p opened #795 "TilingScheme: don't "cut" near dead/hot pixels"
From #778 - if we cut directly next to a dead/hot pixel, we don't have a complete environment and would get a different result based on tiling. We can make the corrections data available to the negotiation and "nudge" the tile border by a bit in either direction to make sure we have a complete environment around each dead pixel.

[2020-05-29 09:08] jhgee commented on #740
I noticed you can't move a rectangle to the corner
![grafik](https://user-images.githubusercontent.com/5411945/83242475-c62c8d00-a19c-11ea-976e-2834c6e8f53f.png)

[2020-05-29 09:32] jhgee opened #796 "GUI: ROI result is black"
When selecting a rectangle ROI which is too small the result stays black.

## works:
![grafik](https://user-images.githubusercontent.com/5411945/83244520-bc585900-a19f-11ea-8d22-40ddb49f83c8.png)
## doesn't work:
![grafik](https://user-images.githubusercontent.com/5411945/83244612-d6923700-a19f-11ea-8302-ffa60391728e.png)
## works:
![grafik](https://user-images.githubusercontent.com/5411945/832447

[2020-05-29 09:42] jhgee commented on #796
Same is true for disk ROIs

## works:
![grafik](https://user-images.githubusercontent.com/5411945/83245680-5a005800-a1a1-11ea-939b-5f00fddc993a.png)

## doesn't work:
![grafik](https://user-images.githubusercontent.com/5411945/83245727-6c7a9180-a1a1-11ea-8b5b-f24f0026e637.png)

[2020-05-29 13:27] sk1p commented on #796
Is this using the master branch, or @AnandBaburajan's PR #793? Is this only happening with standard deviation, or also with average?

[2020-05-29 13:53] jhgee commented on #796
@sk1p this happened indeed using the PR #793 revision https://github.com/LiberTEM/LiberTEM/pull/793/commits/391e8d498d417cfb92f12bb03e12acf8449533d3
It seems also depend on the dataset I loaded. With the current dataset I loaded I can't reproduce the issue but also got the zero devision error.
I will test average once I can reproduce the error again.

[2020-05-29 13:54] sk1p commented on #768
Notes about the `dark_frame` parameter (and other corrections): in addition to the path to the file, there may be more parameters needed, for example when loading raw binary data, the `dtype` needs to be specified, or the array name when loading matlab files.

[2020-05-29 13:54] uellue commented on #768
Ah, that resonates with the discussion about specifying bad pixels, gain map, dark frame and also other parameters for cases where the original format doesn't contain that.

[2020-05-29 14:03] jhgee commented on #796
@sk1p With the dataset from above also average leads to the same result.
I thought about testing on the master branch version but this will not work, at leas with this unsynchronized dataset yet. I could try it with a synchronized one.

[2020-05-29 14:08] sk1p commented on #796
That would be good - my guess is that region of interest handling also needs changes in #793

[2020-05-29 14:19] jhgee commented on #796
I tested another dataset where even stuff like this works
![grafik](https://user-images.githubusercontent.com/5411945/83269984-2553c700-a1c8-11ea-831d-0b89dfae7596.png)

[2020-05-29 14:22] jhgee commented on #796
seems not to be a problem in general
![grafik](https://user-images.githubusercontent.com/5411945/83270277-854a6d80-a1c8-11ea-8cae-4c3e20c088ce.png)

[2020-05-29 18:42] AnandBaburajan commented on #796
Yup, I'll look into this.

[2020-06-01 08:53] AnandBaburajan commented on #796
Yup, this was related to my PR. I've fixed it and I'll add tests after the implementation is complete.

This has been fixed.

I never got this error though.

[2020-06-02 14:19] sk1p opened #798 "Ensure jitted functions can be cached"
If we can cache them, we can get rid of of some nasty latencies introduced by #706, which is important for a smooth user experience.

[2020-06-02 17:43] sk1p commented on #796
Did you test with standard deviation, as in the screenshot? If you decide to retry this and do manage to reproduce it, I would be interested in a traceback (should be on the console output) , as this could possibly be an unhandled boundary condition somewhere.

[2020-06-02 18:06] AnandBaburajan commented on #796
Sorry! I only tried the average mode. I just tried ROIs with standard deviation both on mine and the master branch and there's no result when the ROI is really small.

Regarding my PR, many rows of frames were giving no results in the average mode and that's been fixed.

But I still couldn't reproduce the `division by zero` error.

[2020-06-02 18:28] sk1p commented on #796
If the ROI only spans a single frame, this is expected, as the standard deviation of a single value should be zero, IIRC.

:+1:

[2020-06-03 10:45] #698 closed

[2020-06-03 15:09] sk1p commented on #589
Firefox profiler can load `perf` output:

https://profiler.firefox.com/

https://profiler.firefox.com/docs/#/./guide-perf-profiling

[2020-06-03 15:11] sk1p commented on #701
I'm closing this now, only pending issue IIRC was documentation review, which we will have to re-start before the 0.6 release anyways.

[2020-06-03 15:11] #701 closed

[2020-06-03 15:21] sk1p commented on #726
See also: #793

[2020-06-03 16:16] sk1p commented on #523
I'll add this to the 0.6 milestone so we don't forget to check before the next release.

[2020-06-08 12:44] sk1p opened #803 "Add GPU configuration to the GUI"
As continuation of #760: we should allow users to opt-in to GPU processing. What would be the best place to integrate this? I guess when starting the cluster? Or as a runtime configuration, where the user can enable/disable GPU processing after the fact?

I guess once we have a cluster connection, we can trust that the user created it with the right parameters, and use the GPU workers if available

[2020-06-08 13:06] uellue commented on #803
@sk1p sounds good! The `detect()` and `cluster_spec()` functions should make that relatively easy.

[2020-06-08 18:41] sk1p opened #804 "Corrections: UDF preferences"
To allow UDFs to implement their own corrections support, there needs to be an interface to specify the preferences. See #778 for discussions.

For example, some UDFs may want to fold the correction into the computation in a more efficient way than as a pre-processing step (`ApplyMasksUDF` etc.)

The corrections are already available on `UDFMeta`, once #778 is merged.

Here are some strawmen examp

[2020-06-08 18:44] sk1p opened #805 "SEQ: Support for loading excluded pixels from XML file"
Extracted from #778: implement loading excluded pixels from XML file. Should be quite easy, only needs to convert the ranges specified in the XML to a `sparse.COO` array.

[2020-06-08 18:45] sk1p opened #806 "Corrections: fold linear corrections into ApplyMasksUDF"
Depends on #804 and #778. Possibly needs to be implemented partially in the `MaskContainer` class.

[2020-06-08 18:50] sk1p opened #807 "Corrections: support for loading correction data via the GUI"
From discussions, it may make sense to restrict this functionality to load data from files specified in sidecar files, like #768, and additionally only have simple controls, like disabling corrections included in the `DataSet` (for example, have a checkbox for each available correction in the load dialog - availability should be signalled by the detection mechanism, in the "info" part).

The reaso

[2020-06-08 18:51] sk1p opened #808 "Corrections: file format support"
HDF5, MATLAB, CSV, numpy .npz, raw binary, ... - also needed for #807

[2020-06-08 18:54] sk1p opened #809 "Corrections: possible follow-up performance tuning"
As corrections can be a bottleneck for some operations, it makes sense to optimize them quite a bit.  They are already quite fast, so this is just a low-priority reminder.

[2020-06-09 17:10] sk1p opened #811 "IPyparallel integration"
As a follow-up to #760, we could have a `classmethod` on the `DaskJobExecutor` that allows easy creation of a cluster from an ipython parallel cluster. I think this means mostly creating the right resources on the dask workers and running the matching setup code.

For GPU support, ipyparallel needs changes to start a spec cluster instead of using the simple method that is used right now.

- [x] si

[2020-06-10 16:29] uellue opened #813 "Examples for CuPy and Numba.cuda"
Follow-up to #760

CC @SimeonEhrig :-)

[2020-06-10 23:24] sk1p commented on #687
@sayandip18 not related to gotowebinar, this is about the file format of [hyperspy](https://hyperspy.org)

[2020-06-12 08:55] uellue opened #814 "Severe performance regression (at least) in K2IS since 0.5.0"
The K2IS dataset reached the same pixel-per-pixel performance as raw in the past. On Moellenstedt this was about 5 GPix/s. The 202 GB dataset /cachedata/users/clausen/K2IS01_vacuum_.gtg should fit the file system cache on Moellenstedt, and if not, the SSD RAID it is stored on can deliver 6 GB/s. That means this file should be analyzed in just about half a minute under ideal conditions.

A ring ana

[2020-06-12 09:18] AnandBaburajan commented on #814
I'm not sure if this is helpful, but I'm getting `distributed.worker - WARNING - Memory use is high but worker has no data to store to disk.  Perhaps some other process is leaking memory?  Process memory: 1.82 GB -- Worker memory limit: 2.09 GB` when I run an analysis on a K2IS dataset.

[2020-06-12 09:51] uellue commented on #814
@AnandBaburajan Thx! Not sure if it has the same root cause as the performance regression, but definitely something that shouldn't happen. How do you reproduce it?

[2020-06-12 10:38] AnandBaburajan commented on #814
I ran a disk analysis through the GUI (current master) on a ~ 8 GB K2IS dataset.

[2020-06-12 11:43] sk1p commented on #814
This can possibly also be caused by the way dask measures memory usage - IIRC it's possible that memory mapped files are included in that memory usage figure. Generally, the K2IS dataset is very sensitive to memory management issues, so it's possible we are not re-using a buffer somewhere, and generate lots of garbage, which is something that has caused regressions before. As there have been quite

[2020-06-16 12:25] sk1p opened #815 "Enable GPU support for holography UDF"
As of #760, the GPU support in the holography UDF is not completely finished, as it fails under not-yet-debugged circumstances. As such, it will be disabled for the 0.6 release, and we will work on debugging it for 0.7

[2020-06-16 12:28] sk1p commented on #815
It fails on my system with `cupy.cuda.cufft.CuFFTError: CUFFT_EXEC_FAILED`:

[code]

Once the error is hit, the CUDA context is in a strange state and can't execute further cuFFT or cuBLAS calls, for example:

[code]

[2020-06-16 12:31] uellue commented on #815
Previous discussion in https://github.com/LiberTEM/LiberTEM/pull/760#discussion_r438282154

[2020-06-16 13:53] #364 closed

[2020-06-16 18:46] sk1p commented on #814
So, one of the performance-significant changes since the release was b0ea77accd4c04cb6b691430ad46bc957222f2a4, which, for each tile, checks for discrepancies when getting a contiguous view for a tile. We do `O(N*M)` work for this consistency check, where `N` is the number of tiles and `M` is the number of slices in the tiling scheme. This is a significant amount, in a micro benchmark with `M=255`

[2020-06-16 18:51] sk1p commented on #814
For comparison, here is a profile with the assertion disabled:

<details>
<summary>Profile</summary>

[code]

</details>

We can see that this is already much faster, but there still is potential for optimization.

[2020-06-17 07:18] uellue commented on #198
Asvlooks like the best bet so far and should cover all points when used appropriately.

A few more detailed thoughts on use cases and intermediate results after playing with asv:

* Routinely check during development if a change introduced regressions to catch things like #814 before merging
  - That means asv has to run code from current fork, current branch.
  - Using the "same repo" layout coll

[2020-06-17 08:55] #803 closed

[2020-06-17 08:57] uellue commented on #756
Refs #814, discussion with @sk1p: Remove test of disjointness from production code and integrate it with the contiguous tests -- call run_for_partition() and check afterwards that the cache keys are disjoint.

[2020-06-17 09:01] uellue commented on #198
Specific item: Test if the resource check and other parts of the the DaskJobExecutor scale to at least 1000 workers, better 10000.

[2020-06-17 09:04] uellue commented on #198
Issue: Separate first run from repeat runs (Numba compile time etc)!

[2020-06-17 11:58] sk1p commented on #811
Update: as long as we don't need GPU support, we don't need to specify resources anymore, since #816 is now merged. What remains is getting https://github.com/ipython/ipyparallel/issues/414 fixed and documenting how to use ipyparallel with LiberTEM.

[2020-06-18 06:29] uellue commented on #198
This one actually extends pytest and checks many of the items as well: https://pytest-benchmark.readthedocs.io/en/latest/index.html

[2020-06-18 10:30] bangunarya opened #818 "Correct function does not fix bad pixel"
I recently tried to implement correction of bad pixel using correct function
```sig_shape = (256,256)```
```x =np.array([(240,174,206,143), (157,228,242,41)]).astype(np.int64)```
```data_new = correct(data, dark_image = None, gain_map = None, excluded_pixels = x, inplace = False, sig_shape = sig_shape)```

However, when summing all frames it seems the correct function does not change the specific

[2020-06-18 10:33] uellue commented on #818
Hi @bangunarya Thx for the report! Can you perhaps include how you generated data and how you plotted it?

[2020-06-18 10:41] uellue commented on #814
@sk1p Thx for the analysis! Fixing the test for disjointness did improve the benchmark I am working on, but it doesn't seem to fix the original issue.

Judging from this profile from inline executor and with a ROI limiting to the first row of scan pixels, it is the generator returned by get_tiles() that spends most of the time.

If it was the buffer, the time would be spend in run_tile, specifical

[2020-06-18 10:52] sk1p commented on #818
I tried this with synthetic data, and it appears to work fine:

![image](https://user-images.githubusercontent.com/5778/85011899-7e2cd480-b162-11ea-88c4-c6991d2379ac.png)

[2020-06-18 11:06] uellue commented on #818
In that case we should have a look at the entire notebook to see where the issue is.

[2020-06-18 11:07] uellue commented on #818
It seems to have done *something* since the leftmost and rightmost pixel went from bright to dark.

[2020-06-18 11:36] sk1p commented on #198
Nice! As I understand, this is missing the reporting functionality of airspeed velocity - if you could write up how that should work I could write a prototype for that.

[2020-06-18 11:38] sk1p commented on #198
Or is plotting using `--benchmark-histogram` enough for our purposes?

[2020-06-18 11:42] uellue commented on #198
Yes, it only has basic reporting. Since the data is available as JSON, it would not be too difficult to write a custom reporting function that discovers the files, extracts the relevant data and plots it, for example with matplotlib. We could call that as part of the build process like we do with `build-authors-contributors`.

[2020-06-18 11:49] uellue commented on #814
In #820 I made some changes that facilitate profiling. Here's the full picture. I couldn't follow the code further down since I didn't quite understand where `io_backend.get_tiles()` comes from.

<details>
<summary>Profile</summary>

[code]

[2020-06-18 12:09] uellue commented on #198
...cont: Advantage would be that we have full control what is plotted how and how tests are grouped, including extracting the first run vs. repeats, overlay multiple plots for comparison, custom units such as pix/s, etc. Disadvantage is of course more work to make it look nice. IMO a trade-off between cost of developing and maintaining benchmarks (lower with pytest) vs. cost of reporting.

[2020-06-18 12:23] sk1p commented on #814
How long does the test using the 202 GB file take now? I locally tested with a smaller file, and got about 14s using v0.5, and 17s using your branch, doing a warm-up run to get the numba compilation excluded.

I can continue there, if you like - I'll need to work on that code anyways for #798

[2020-06-18 12:26] sk1p commented on #814
I'm using the StdDev UDF for these tests, btw. And for comparison: this took about 46s with master. So I would say the main part is fixed, and there is some remaining work for generally getting back to 0.5 perf.

[2020-06-18 12:26] uellue commented on #814
I'm running it now. It was *significantly* longer than the 35 s from before.

[2020-06-18 13:52] sk1p commented on #814
As discussed, we can first merge #819 to add the benchmarking suite and the first part of the regression fix, then I can take over for the second part regarding general I/O performance, JIT caching etc.

[2020-06-19 08:28] bangunarya commented on #818
Hi Dieter, here I attached the code.
![tes](https://user-images.githubusercontent.com/47388866/85113464-9ca0d780-b217-11ea-952c-b8fafec321e6.png)

[2020-06-19 08:32] uellue commented on #818
Thank you! I'll try it out next week and see what happens there.

[2020-06-20 21:13] sk1p opened #826 "fullmatcher test failures"
Three parallel failures on Linux (py36 and py37) - did something relevant change in the environment? Maybe the new numpy version? /cc @uellue

https://travis-ci.com/github/LiberTEM/LiberTEM/jobs/351783792
https://travis-ci.com/github/LiberTEM/LiberTEM/jobs/351783793
https://travis-ci.com/github/LiberTEM/LiberTEM/jobs/351783800

[2020-06-21 10:15] uellue opened #827 "Update creators.json and contributors.json with contributions from JOSS review"
Refs https://github.com/openjournals/joss-reviews/issues/2006

[2020-06-21 10:16] uellue commented on #826
I'll have a look this week.

[2020-06-22 10:17] uellue opened #828 "Only show "missing CuPy" dialogue on machines with CUDA devices"
Right now, the warning box "No cupy installation found" (#812) is also displayed on machines without CUDA devices.

It should only be shown if any CUDA device was actually detected.

[2020-06-22 13:20] uellue commented on #826
Yes, this is triggered by upgrading to NumPy 1.19, I can reproduce it on moellenstedt.

[2020-06-22 16:27] #826 closed

[2020-06-23 11:33] sk1p commented on #828
Disable the Dropdown and show a little "i"-icon, which triggers a modal with information about GPU support

[2020-06-23 12:19] sk1p commented on #86
As there are security considerations when running all CI pipelines on our infra, I had another idea: we could trigger the dataset tests with a simple github bot command, after doing an initial review of the code, and after merging to master. That way we don't test code unseen, and still have okay-ish test frequency.

[2020-06-23 13:01] uellue commented on #818
@bangunarya Thx again for reporting! I could reproduce it, it was an issue with handling integer input data. PR #831 fixes this on my system.

[2020-06-24 13:31] sk1p opened #833 "numpy deprecation warning in corrections test"
[code]

[2020-06-25 10:23] #756 closed

[2020-06-25 12:42] sayandip18 commented on #833
What are "corrections"?

[2020-06-25 12:58] #828 closed

[2020-06-25 13:07] sk1p commented on #833
Basically, sometimes there are artifacts in the raw data that can be corrected, for example different responses of single pixels. We recently added support for three of these corrections, namely dark frame subtraction, gain maps and defect pixel patching.

[2020-06-28 11:11] sayandip18 commented on #833
I think adding `dtype=object` will solve this. All Travis CI tests will be successful.

[2020-06-29 13:24] uellue opened #835 "Input fields in FFT analysis don't work in MS Edge"
How to reproduce:

* LiberTEM release version 0.5.0
* Edge version: 16.16299.547.0

* Open a dataset in the GUI
* add an FFT analysis
* Try to change parameters

What happens:

* The field gets blanked
* One can't enter numbers

What I expect:

* I can modify the value in the field.

[2020-06-29 13:31] uellue commented on #835
Actually, many GUI features including keyboard control of selectors are broken in this version of Edge

[2020-06-29 13:37] uellue opened #836 "Strange streaks in FFT analysis"
How to reproduce:

* LiberTEM version 0.5.0
* Use FFT analysis in the GUI on D:\Merlin_data\Janghyun\20200619 - SNBD Test\01_256X256_1ms_TV120/Test.hdr

Result:

![Capture](https://user-images.githubusercontent.com/25689052/86012437-42292780-ba1e-11ea-8aff-5863eeb1600a.PNG)

The streaks look like artifacts.

[2020-06-29 13:50] uellue opened #837 "Opening an MIB dataset with one file per diffraction pattern is very slow"
Reading a dataset that was saved with one file per pattern seems to read the entire dataset in the detect or initialization routine.

Version: LiberTEM current master

Expected behavior: Is there a more efficient way to load such a dataset? It is clear that performance won't be as good as multiple frames per file, but at least it should be usable if possible.

[2020-06-29 13:56] uellue opened #838 "Opening an MIB file from HDD is slow with current master"
How to reproduce:

* LiberTEM current master
* Windows 10 (Merlin PC)
* Stored on a HDD that can reach about 100 MB/s write speed in a 1:1 copy, as an approximate performance measure.
* MIB file 256x256x256x256 with all frames in a single file
* D:\Merlin_data\Janghyun\20200619 - SNBD Test\04_256X256_1ms_TV160/Test.hdr
* File is not in the FS cache
* Open with LiberTEM GUI and add basic analysis

[2020-06-29 15:05] sk1p commented on #837
It only reads the headers to use the image sequence numbers, to make absolutely sure we got the file ordering right. But you are right, it is not much different performance-wise from reading all files, as the seek time dominates on a slow HDD (a few ms per file!). Generally, it is a very bad idea to record only one image per file, as it also means more file system overheads (especially under windo

[2020-06-29 15:35] uellue commented on #837
Ok, using the file names for very large datasets sounds like a good idea since we can be reasonably sure that they were generated by the Merlin software or generally follow a pattern that natsort would understand. Maybe one can switch to lax mode only if there are way too many files?

Yes, fully agreed. Maybe we could show some sort of info or warning when opening such a dataset and/or switching t

[2020-06-29 15:37] uellue commented on #837
Also not sure if we keep this for 0.6 or bump to 0.7 since it doesn't feel like a show stopper.

[2020-06-29 15:41] uellue commented on #835
Not sure if we keep this in the 0.6 milestone, defer it to later or file it under "Known issue, please use a different browser"? As a side note, drag and drop of files into text fields on GitHub is also broken in that version...

[2020-06-29 16:03] AnandBaburajan commented on #814
After updating to current master, I'm getting the same message with a 4 GB `MIB` dataset (with 256 files), a 8 GB `SEQ` one and the `K2IS` one, but not with smaller datasets. The workers running analysis on `MIB` and `K2IS` restarted a few times and eventually stopped before completing the analysis. The analysis on `SEQ` ran successfully.

My PC specs FYI: 8 GB RAM and 512 GB SSD running Windows

[2020-06-29 18:02] sk1p commented on #836
Did you confirm that there is no artifact in the source data? Can you make this data set available to me, or should I have a look when I'm at the institute again?

[2020-06-29 18:21] sk1p commented on #814
Interesting.

- Did you try to work on a subset of data and see if that works, using `roi`?
- Did you measure, for example using system tools, how much memory the worker processes are actually taking up? Is that memory really used by the process itself (`RES` in Linux top-like tools), or is it virtual memory used by `mmap`ing of files (`VIRT` in top-like tools)?
- Can you see if you can disable th

[2020-06-29 18:21] uellue commented on #836
I didn't go in depth with scripting. The leftmost panel looked very different between the positions with the streaks and the other areas, while the central "pick" frame looked the same. Janghyun told me that there was building work at the time, although I don't know how that should have caused the anomaly.

Currently it is only on the Merlin PC. Maybe you or I can have a look when we are at the in

[2020-06-29 18:25] sk1p commented on #837
I would agree that bumping to 0.7 is okay, maybe adding a warning in 0.6 already, at least for use from the Python API. Maybe we can add some info to the documentation about this, in the MIB format docs?

[2020-06-29 18:26] uellue commented on #837
👍 👍 👍

[2020-06-29 18:28] sk1p commented on #835
I'm tempted to push this to later, as it is easily worked around. Global and Germany-wide usage of Edge is quite low (under 3%, version 16 under 0.03%), so unless we hear from other users, we should not invest a lot of time into support. We could of course create a policy of supported browsers and put in a list of browsers we test on into the docs, which currently boils down to Chromium-based (Chr

[2020-06-29 18:29] uellue commented on #835
👍 That's definitely a good information to have!

[2020-06-29 18:30] uellue opened #839 "Document browsers that LiberTEM GUI is tested on"
Extract release-relevant part of #835

[2020-06-29 18:48] sk1p commented on #838
This points to the seek patterns for tiled reading being the problem - apparently Windows doesn't recognize those as "linear" and doesn't perform any read-ahead. I think we are at a point where we should make a general decision how to handle this - if we want to have usable performance on slow-seek media, we need to read in a completely different way than if we want to have optimal performance on

[2020-06-29 18:53] sk1p commented on #836
I think we need to have a detailed look at the absolute result values here to be sure

[2020-06-29 19:05] uellue commented on #838
On the one hand, since performance was acceptable before and people including us still use such media, we should at least be on par with 0.5.0. However, we should also keep the massive performance gains of optimized tiled processing.

Having different code paths for slow-seek and fast-seek media could get messy, though. More code volume, and how to decide which one to use? Are there OS interfaces

[2020-06-29 19:44] uellue commented on #838
By the way, can this be helpful for mmapped data, perhaps?

* https://linux.die.net/man/2/fadvise
* https://docs.microsoft.com/en-us/windows/win32/api/memoryapi/nf-memoryapi-prefetchvirtualmemory?redirectedfrom=MSDN

[2020-06-29 19:45] uellue commented on #838
In any case, a good use case for the benchmarking infrastructure... #819

[2020-06-29 19:46] sk1p commented on #838
I think we only have a chance of making the user decide this (i.e. opt in to the "slow HDD" I/O backend) - I don't think there is a portable API to find expected performance for block devices. On Linux, this is definitely possible to find out, for example in `/sys/block/sda/queue/` on my system there is a file `rotational`, and there are also I/O statistics available, like average I/O latency ("to

[2020-06-29 19:48] sk1p commented on #838
Yeah, see here: https://github.com/LiberTEM/LiberTEM/blob/cf241433b094473c9edc38e80c8d79f4a9e8ffac/src/libertem/io/dataset/base/backend.py#L240

Could be made a bit smarter about the values of the `roi`, but in general it is there.

Thanks for the link! I'll have a look if there is a good way to use this from Python...

[2020-06-29 20:05] sk1p commented on #838
See also discussion here: https://bugs.python.org/issue32941

[2020-06-29 20:16] uellue commented on #838
👍 nice, didn't know it was implemented already!

[2020-06-29 20:28] sk1p commented on #838
How would that work, can we do a run of I/O benchmarks on different storage locations on the same host and have them distinguishable in the result history?

[2020-06-30 06:29] uellue commented on #838
We can use `pytest.mark.parametrize` and/or [add specific metadata](https://pytest-benchmark.readthedocs.io/en/latest/usage.html#extra-info). One could, for example, add the full path or environment variables with a base directory to `extra_info`. That way one can distinguish separate runs on different locations.

[2020-06-30 10:29] sk1p commented on #837
Warning added in #840, further changes pushed to 0.7

[2020-06-30 12:06] #839 closed

[2020-06-30 17:30] AnandBaburajan commented on #814
No errors when a small ROI is set.

Sorry, I'm not able to figure out how to find the memory consumption of each worker process on my Windows PC, and the only Linux PC I've access to is at my institute.

Yes, disabling the limits did fix the errors.

I think so too because manually setting `ds.set_num_cores(len(workers))` to a bit bigger number resulted in no errors at all.

[2020-07-01 10:21] sk1p commented on #814
Interesting, thanks for trying this out!

No worries - if you look at the total memory consumption, does it come close to the limits of your system?

Thanks again for trying this, this is helpful! I'll see if I can come find the root cause and a fix.

Another question: if you try with the stable LiberTEM version (0.5.0), is the behavior the same?

[2020-07-01 12:39] AnandBaburajan commented on #814
A disk analysis on the 8 GB `K2IS` dataset uses around 1.2 GB and before #819 was merged, it took around 1.8 GB.

I tried and found no issues with 0.5.0.

[2020-07-06 15:17] #818 closed

[2020-07-06 16:07] sk1p opened #842 "Idea: improve platform-specific parts of the docs"
Just came across this sphinx plugin: https://sphinxcontrib-platformpicker.readthedocs.io/en/stable/usage.html - this looks nice and could clean up some platform-specific parts of our docs

[2020-07-06 21:57] sayandip18 commented on #842
Hey! I can manage this. Should I start a PR?

[2020-07-07 07:41] uellue commented on #842
@sayandip18 Sure, great! Just go ahead, let me know if I can help, and many thanks in advance!

[2020-07-13 10:57] twentyse7en opened #845 "Copy remote cluster connection code"
If GUI is successfully connected to a remote cluster, the connection code will be
generated and an option to copy the code. Where would the ideal place for providing the option?

[2020-07-13 11:02] uellue opened #846 "Make sure size calculations don't overflow"
`np.prod()` is currently used all over the LiberTEM code base to calculate the number of entries based on the shape of array-like objects, like datasets, partitions, tiles, slices etc. [`np.prod()` upcasts integers to `np.int`](https://numpy.org/doc/stable/reference/generated/numpy.prod.html), [which is 32 bit on Windows even on 64 bit](https://github.com/numpy/numpy/issues/9464). This is often to

[2020-07-15 12:34] uellue commented on #656
This is a test comment. Hello world!

[2020-07-18 08:14] faraz16iqbal commented on #656
Would be interested in working on this!

[2020-07-18 08:43] AnandBaburajan commented on #656
Hi @faraz16iqbal, thank you! You can share your draft design here and the mentors will give you feedback ASAP, but do check out https://github.com/LiberTEM/LiberTEM/issues/656#issuecomment-598230600 which can give you some general feedback. Here's our [contributing guide](https://libertem.github.io/LiberTEM/contributing.html), if you haven't checked already. Feel free to ask any doubts here or at

[2020-07-18 08:46] faraz16iqbal commented on #656
@AnandBaburajan can you just tell me if this issue isn't closed because someone seems to have fixed this already

[2020-07-18 08:49] AnandBaburajan commented on #656
Yes, this issue is still open as PR #709 was not finished and closed since it is inactive now.

[2020-07-18 09:02] AnandBaburajan opened #848 "GUI: ROI selector bug"
The ROI selector in the GUI sometimes selects incorrect frames

![image](https://user-images.githubusercontent.com/2698932/87849083-62ecea80-c903-11ea-8bdd-93dc711e340e.png)
Disk analysis with a rectangular ROI  on a 8x8 HDF5 dataset

![image](https://user-images.githubusercontent.com/2698932/87849018-f2de6480-c902-11ea-8ff9-131c57269ae1.png)
Resultant ROI in the back end

[2020-07-18 09:07] AnandBaburajan commented on #848
I can work on this, but only after my current work is over

[2020-07-19 02:46] SahanWickramage commented on #656
Hi, @faraz16iqbal. The issue is still open. If you have any doubt just drop a message on Gitter chat.

[2020-07-20 08:10] sk1p commented on #845
I think this could be combined with a status display for the current cluster connection. Maybe in the menu bar somewhere? One option would be to put the "action"-like items ("About", "Shutdown") into a drop-down menu and display the cluster status in the top-right, where the shutdown button is right now. What do you think?

[2020-07-20 08:15] sk1p commented on #848
Thanks for filing! Looks like this could be a off-by-one error, possibly in the GUI code

[2020-07-20 12:00] uellue commented on #846
Bumped to 0.7 since @AnandBaburajan fixed the issue on the short end in #844 and we want to keep the scope of 0.6 manageable.

[2020-07-20 12:51] sk1p commented on #833
The question is, is that the right thing to do in that case? If I read it correctly, the array in question is not even a ragged array, or is it?

[2020-07-20 14:13] twentyse7en commented on #845
Instead, can we put the cluster status to the left of "Shutdown"? What are the information to be displayed in the status?

[2020-07-20 14:26] sayandip18 commented on #833
The latest [commit](https://github.com/LiberTEM/LiberTEM/commit/117f4adcce5ff685a6f455821d54311d29f11d93) has pushed line 295 to line [350](https://github.com/LiberTEM/LiberTEM/blob/1b372535e303a5fa9ae715033ec5f151626cc099/tests/corrections/test_detector.py#L350).

Here's how it goes:

In [`test_mark_correction_sparse()`](https://github.com/LiberTEM/LiberTEM/blob/1b372535e303a5fa9ae715033ec5f15162

[2020-07-20 14:29] sk1p opened #849 "Ad-hoc DataSet for custom/weird formats"
A stable interface for reading custom file formats. Motivation: load things like output from simulations that can be in weird formats, like a directory full of matlab files, or a list of tiff images, a list of raw files etc. - mostly for "list of files"-type datasets, like #206. This is only meant to make it possible to load these in LiberTEM in an ad-hoc way, not really with performance in mind.

[2020-07-20 14:38] sk1p commented on #833
Ahh, I see, I overlooked the `size=s//2`! One could also just make `indices` a list-of-arrays instead (remove the `np.array` call), as no numpy functions are called on that anyways...

[2020-07-20 14:41] sk1p commented on #849
This is mostly for keeping the idea/interface organized, it can be implemented when it becomes inconvenient to use alternatives: until now, I converted folder-of-files data sets into a single raw file, but this may be inconvenient if there are many of these data sets, or if they are very large so storage becomes an issue...

[2020-07-20 14:48] sk1p opened #850 "Be more strict with warnings in CI"
To better catch deprecations and other warnings that can point to problems, we should be more strict with warnings. This means we should ignore expected warnings (like our own deprecations), and throw exceptions for all others.

A possible solution: `pytest` can be told to enable warning filters, for example with `-W error::DeprecationWarning` all deprecation warnings can be converted to exception

[2020-07-20 15:19] sk1p commented on #849
Oh, this could also be (ab-)used for generating virtual data sets, like on-the-fly simulation, at least if we implement option 2

[2020-07-20 15:29] sk1p commented on #845
Could be possible - we just need to make sure the menu doesn't get too crowded, or, in other words, that the menu is stays clear and usable.

Hmm, something like "connected to (local cluster|cluster URI), N CPU workers, M GPUs"? If you can think of a way to show this more concise, that would also be great. Then maybe a "copy" icon to show your copying component?

[2020-07-20 15:41] uellue commented on #849
The last format I saw was one Matlab file per simulated row or column, so I'd say more arbitrary mappings should be possible.

Single frame processing should be ideal since that keeps it simple and it should be compatible with any processing method in the UDF interface. We should just make sure that `process_partition()` actually receives a partition by accumulating frames in a buffer since otherw

[2020-07-20 16:04] uellue commented on #849
Hm, one could support proper tiling as well that way. As long as the reading function is fast, this should not be too bad, actually.

Creating task data and such could be useful, for example to open files that hold many frames only once?

[2020-07-22 20:05] sk1p commented on #506
See also: https://glyph.twistedmatrix.com/2020/07/new-duck.html

[2020-07-22 21:35] sk1p commented on #795
This was fixed by #831

[2020-07-22 21:35] #795 closed

[2020-07-24 13:41] uellue opened #854 "ROI not used in generated template for SD analysis"
In notebook with SD analysis and circular ROI:

[code]

The ROI is generated correctly, but not used when running the UDF.

[2020-07-24 13:44] uellue opened #855 "Notebook for COM analysis should plot data instead of visualization for magnitude and divergence"
When generating a notebook for COM analysis:

[code]

It should be

[code]

[2020-07-24 13:45] uellue commented on #854
Probably one should check other analyses that use the ROI as well, namely sum.

[2020-07-24 14:20] #833 closed

[2020-07-25 10:55] twentyse7en commented on #854
why [`random_hdf5`](https://github.com/LiberTEM/LiberTEM/blob/master/conftest.py#L66-L69) has `np.ones((5, 5, 16, 16))` as data ?

[2020-07-27 10:27] sk1p commented on #854
My guess: it's a copy/paste error. Good catch! If you change it to generate random data instead, do any of the tests break?

[2020-07-27 11:52] twentyse7en commented on #854
changed to `np.random.randint((5, 5, 16, 16))` , four tests failed in `test_hdf5.py`
<details>
<summary> Error report </summary>

[code]

</details>

[2020-07-27 11:56] sk1p opened #856 "Test coverage for notebook generator"
A reminder that the notebook generation of the following analyses is not yet (fully) covered by test cases:

- [x] Clustering analysis (I think the code generation was not complete here, too?)
- [x] Radial Fourier analysis (I think this is waiting for the empyre stuff?)
- [x] Raw FFT (`PickFFTFrameAanlysis`) #858
- [x] `SumSigAnalysis` #858

Test coverage can be checked via the `htmlcov` directory

[2020-07-27 12:28] twentyse7en commented on #854
No, tests are working fine.

[2020-07-27 17:18] sk1p commented on #855
Fixed in #857

[2020-07-27 17:18] #855 closed

[2020-07-28 10:08] twentyse7en commented on #856
`Radial Fourier Analysis` notebook requires the `empyre`, so the test is currently skipped. `Cluster Analysis` notebook generation is incomplete.

[2020-07-28 10:35] twentyse7en opened #859 "Improve notebook generator"
* [x] Fix cluster analysis notebook generation
* [x] Option to copy and paste cells instead of downloading

[2020-07-29 21:25] sayandip18 commented on #791
Is that the `extra_shape` in buffer declaration that is supposed to be (1,)?

[2020-07-30 12:40] twentyse7en commented on #859
Is this general design okay?

![2020-07-30_18-03](https://user-images.githubusercontent.com/59721339/88923359-39cb4300-d28f-11ea-8fae-f5e970acadaf.png)

[2020-07-30 12:54] sk1p commented on #859
Looks good to me!

As an addition, it could be nice to be able to copy the whole source code in one go, what do you think? Also, maybe provide a "download as Jupyter Notebook" button/link in the header of this modal, too?

[2020-07-30 14:33] twentyse7en commented on #859
If that's useful, no problem in adding that :+1:

[2020-08-03 12:56] AnandBaburajan commented on #553
Doubt: for example, in case of a `SEQ` file (which is sometimes loaded as 4D), should 'list of coordinates of frames in a tile in actual navigation space' return the actual 3D coordinates or the loaded dataset's 4D coordinates? Thanks.

[2020-08-03 14:39] sk1p commented on #553
It should be in 4D coordinates - the idea is to not only make the flattened internal coordinates available, which are useful for easy processing, but also the application-specific coordinates / the result of the reshaping, in this case 4D

[2020-08-04 18:24] AnandBaburajan commented on #553
@sk1p A `64 x 128 x 128` dataset loaded as `8 x 8 x 128 x 128` with `sync_offset = 62` would yield a single tile with only the last 2 frames and the list of coordinates would be `[ (7, 6, 0, 0), (7, 7, 0, 0) ]`.

But if it's loaded as `3 x 5 x 128 x 128` with `sync_offset = 62`, what would be the coordinates of those two frames with respect to the new dataset shape?

[2020-08-05 10:43] sk1p commented on #553
Okay, I agree so far, but:

I don't think this is correct - with `sync_offset=-62` this would be the case, as there would be 62 "empty frames" inserted at the beginning, and you would get the first two frames of the source data. With a positive `sync_offset`, you would "throw away" the first 62 frames of the source data, and start at `(0, 0)` with the remaining two frames; the coordinate array wou

[2020-08-05 11:01] AnandBaburajan commented on #553
Oh, got it. I thought the coordinates should be the actual position of the frames in the original dataset. It's clear to me now, thanks!

[2020-08-17 11:30] sk1p opened #867 "Electronic labbook integration"
The goal of this issue is to discuss/document how to implement an integration of a non-privileged version of LiberTEM into electronic labbooks and web-based data management platforms.

## Problem statement

Large data sets are managed by a labbook solution, but currently can't be easily visualized without downloading the data and loading it locally. It would be possible to just run the current Lib

[2020-08-17 13:34] AnandBaburajan opened #868 "benchmarks/corrections/test_corrset.py throws ValueError"
`ValueError: invalid entry in coordinates array` on running the benchmark test

[2020-08-17 13:51] sk1p commented on #868
Interesting, I think this is a typo here:

https://github.com/LiberTEM/LiberTEM/blob/71eb1a18895f72654f6671442c40ca2c32f6257c/benchmarks/corrections/test_corrset.py#L33

That should be `(1024, 1024)`. I'll quickly open a PR for this.

[2020-08-17 14:56] #868 closed

[2020-08-17 14:57] sk1p commented on #868
Thanks for reporting, it should be fixed now!

[2020-09-04 10:58] ReimarBauer commented on #648
Because I'm working currently on a simple web frontend for our MSS project I prepared the XStatic base and xstatic-bootstrap and xstatic-jquery for conda-forge. In our case listing the dependencies in a meta.yaml and install the latest version is at current state for our project similar to the existing dependencies of other python packages.

I understand your point. A solution is only to have more

[2020-09-08 12:36] sk1p opened #874 "Windows + Python3.8: module `pwd` not found"
Was hit when installing libertem into a Python 3.8 environment on windows

[2020-09-08 13:10] sk1p commented on #874
Root cause was https://github.com/mhammond/pywin32/issues/1431

[2020-09-08 13:10] #874 closed

[2020-09-08 18:47] sk1p commented on #859
@twentyse7en I think with #864 merged, this issue is done, right?

[2020-09-08 21:26] sayandip18 commented on #631
My bad. I am still a bit confused though. The `process_*` methods in the utility UDF classes have `self.results.buffername` (like [here](https://github.com/LiberTEM/LiberTEM/blob/d19b4e5d6cf1ebae929575381debc4b59bdf342c/src/libertem/udf/sumsigudf.py#L28)). I get it that it is accessing the dictionary returned by `get_result_buffers()`, but there is no attribute called `results` in UDF class!

[2020-09-09 06:41] twentyse7en commented on #859
Yes

[2020-09-09 07:59] #859 closed

[2020-09-09 07:59] sk1p commented on #859
Thanks!

[2020-09-21 14:37] #152 closed

[2020-09-21 17:37] sk1p commented on #798
As an update, I filed https://github.com/numba/numba/issues/6264

I also checked the potential savings using a patched numba that can cache functions captured in a closure. Measured via the GUI on an 8GiB MIB dataset, LiberTEM-stable (v0.5.0) takes about 3.8s to compute the initial sum of all frames, where LiberTEM-master+patches takes 4.6s. I'll retry on a larger data set in a bit, there the thro

[2020-10-03 08:09] AnandBaburajan opened #879 "Refactor coordinates generation in UDF"
Refer https://github.com/LiberTEM/LiberTEM/pull/793#issuecomment-672107981 after #793 is merged

[2020-10-03 08:14] anandbaburajan opened #880 "Fix bug in HDF5/h5py/analysis-on-float-data"
Refer https://github.com/LiberTEM/LiberTEM/pull/793#issuecomment-698863229 and https://github.com/LiberTEM/LiberTEM/pull/793#issuecomment-699972428 after #793 is merged. Then remove `@pytest.mark.xfail` from the `test_compare_hdf5_result_with_raw_result` test in `tests/test_analysis_disk.py`

[2020-10-08 06:49] uellue commented on #798
In case numba/numba#6284 is not included in the next Numba release, we could perhaps implement a workaround to get the 0.6 release out in reasonable time.

We only need this caching in a well-defined subset of LiberTEM that has a well-defined interface with user code: the I/O routines.  Furthermore, the caching in Numba is implemented in a central place and your patch seems to work. We could imple

[2020-10-08 07:56] uellue commented on #838
A few thoughts on how to handle this:

The optimal IO strategy depends on seek time, optimal block size, transfer rate and the ability to handle concurrent requests efficiently. In reality we may have the following sources when reading: File system cache, SSD, HDD, and network

* File system cache: No seek time, block size is single cache line, highest possible transfer rate, handles concurrent re

[2020-10-08 08:22] uellue commented on #838
For testing, we could have paths for the same data on different storage locations determined by, for example environment variables or a sort of "host file". That way we can run benchmarks with `pytest.mark.parametrize()` on all the storage locations in one run with the same tests and skip the ones where we don't have a file on that system.

Proposal for a reasonable order:

1. Make it reproducible

[2020-10-08 10:33] uellue opened #883 "Distributed tests in CI failing during installation in docker images"
Failure, for example https://travis-ci.com/github/LiberTEM/LiberTEM/jobs/396858925#L1567:

[code]

This command fails locally as well. It appears that the branch "fix-become-dask" doesn't exist anymore in https://github.com/sk1p/ipyparallel

Since the fix https://github.com/ipython/ipyparallel/pull/415 was merged, I'll work on a fix to just pull the ipyparallel master branch for now.

[2020-10-08 13:06] #883 closed

[2020-10-12 12:56] sk1p commented on #798
This monkey-patched hack would need to make sure that the cache key includes some unique element that makes sure the cache is busted once the hack is removed. I'll have a look into this.

This is now done in my branch - I could clean that up to a mergable status, only including the warmup and enabling of jit caching,  which should "work" even without the numba changes. Then I can work on a monkey-

[2020-10-12 14:04] sk1p commented on #134
For inspiration: https://hacks.mozilla.org/2019/04/pyodide-bringing-the-scientific-python-stack-to-the-browser/ - for running Python-based visualizations on the client (for example matplotlib)

[2020-10-14 10:45] sk1p commented on #838
As mentioned in  #887, this appears to be a Windows-specific problem.

Can you try to run the benchmarks with `fadvise` disabled? Just adding a `return` statement [here](https://github.com/LiberTEM/LiberTEM/blob/16011aee5fab65fc2a4094ddb4e1a203f5d51b3e/src/libertem/io/dataset/base/backend.py#L240) should do the trick.

We should see if not using `fadvise` on Linux means we get the same problem, an

[2020-10-14 11:54] uellue commented on #838
Linux generally doesn't seem to be affected even without fadvise(), at least with this file:

<details>

[code]

</details>

Next step would be reproducing on Windows, and if this doesn't reproduce the issue then test with the exact same file that created the issue. The test file is smaller and split up in small MIB files, while the issue was caused by a larger monolithic MIB file.

[2020-10-14 11:57] uellue commented on #838
In any case, the results with cold cache and fadvise() were all a bit better than the ones without fadvise(), so it DOES help some.

[2020-10-14 14:01] sk1p commented on #838
Thanks for testing this! It would be good to track these numbers over time.

Let me know if you need any help with that. We can also create synthetic test data if needed (it's easy to create a large MIB file from many small ones, for example).

[2020-10-14 22:31] uellue commented on #838
Benchmark results with Windows:

<details>

[code]

</details>

The issue is clearly reproduced with this dataset and benchmark on Windows. The difference between Linux and Windows is striking.

[2020-10-14 22:32] uellue commented on #838
Yes, pytest-benchmarks can do that and I believe we already have a few "dummy" runs. We postponed regular tests until we have more benchmarks. Now might be a good time to get started with that. :-) Perhaps we can discuss a strategy how to organize results and make them comparable?

[2020-10-15 09:02] uellue commented on #838
For posterity, this code _should_ prefetch memeory, but doesn't improve the benchmark results or triggers disk activity if the cache is empty. Not sure if I called it right, though.

[code]

[2020-10-15 09:59] uellue commented on #838
Since the issue is reproduced on Windows and prefetching didn't work, we'll have to implement the "large block" reading strategy, it seems.

Linux seems to do an excellent job to translate the parallel tiled memory access pattern into larger contiguous disk reads, while Windows produces a flurry of seeks.

[2020-10-15 10:57] uellue opened #888 "Benchmark IO and processing performance for past releases to catch regressions"
Based on #887 one can develop a more generic benchmark family that covers all dataset types and will run on old releases by using ApplyMasksAnalysis instead of an UDF. With that we create a baseline for future developments, may catch regressions that snuck in over time, and see where our developments brought improvements.

Refs #198

Since 0.6 will be a feature-heavy release with great benefits fo

[2020-10-15 11:16] uellue commented on #838
As an alternative to changing the reading strategy in this release, perhaps one could change the tiling scheme instead to use the same scheme as 0.5 if IO performance is slow? That could be done per partition. Possibly the UDFRunner could raise an "IOTooSlowExeption" when it detects slow IO after processing a few tiles,  and start over with tiling that will give sequential access in run_for_partit

[2020-10-15 17:32] sk1p commented on #220
/cc @SimeonEhrig

[2020-10-20 07:53] AnandBaburajan commented on #880
Another finding: while the disk analysis results have 'border defects' for both `RAW` and `HDF5` with the same generated 4D `float32` data, the `np.abs()` of the results is okay when:
1. The 4D data is reshaped into 3D and a new 3D `HDF5` dataset is created
2. The 3D `HDF5` dataset is then loaded as 4D (using reshaping at #793)
3. Disk analysis results are compared for the 4D `RAW` dataset and the

[2020-10-21 18:15] sk1p opened #889 "Correction fails for large number of pixels"
Calling `libertem.corrections.detector.correct` with a large number of dead pixel coordinates fails with the following message:

[code]

This was with slightly above 1k to 5k (correction: 12k) nnz entries in the dead pixel mask (amounts to less than 1% of all pixels, which is a reasonable number).

This happens with `numba==0.51.2` and `numba==0.50`. I think this error message may actually hint at

[2020-10-21 18:23] sk1p commented on #889
A possible fix could be to switch to a `numba` [typed list](https://numba.pydata.org/numba-doc/latest/reference/pysupported.html#typed-list), or we could use a different (dense) encoding for the ragged coordinate array.

[2020-10-21 19:41] sk1p commented on #889
First run:

[code]

Second run:

[code]

[2020-10-21 21:19] sk1p opened #891 "Corrections: allow to ignore dead pixels with an empty repair environment"
In some cases, the list of invalid pixels fed into `correct` can only be determined automatically. For example, if each frame needs to be corrected independently with different invalid pixels, and we have many frames, the invalid pixels need to be determined by some heuristic. In case the parameters for the heuristic were chose poorly, they may not transfer well to a stack of detector frames, and

[2020-10-26 13:53] uellue opened #892 "Update install documentation to use `python3 -m pip`"
See https://snarky.ca/why-you-should-use-python-m-pip/

For some reason, I have to do it like that on moellenstedt after Python was updated. Using `pip install <...>` tries to install with Python 2 in the wrong environment. That means this issue is real and updating our documentation can help to steer newer users away from potential trouble.

[2020-10-26 13:55] uellue commented on #892
Assigning to 0.6 since this is a relatively minor update and we can do it as part of documentation QA during the release process.

[2020-10-27 08:34] pragat-pandya commented on #892
I would like to work on this issue, Please assign this task to me!

[2020-10-28 10:09] sk1p commented on #892
Sure thing, please let me know if you need any help!

[2020-10-28 21:31] sayandip18 commented on #846
[code]

How about defining something like this which takes the [exact same arguments](https://github.com/numpy/numpy/blob/v1.19.0/numpy/core/fromnumeric.py#L2881-L3000) as `np.prod()`? We need to replace all instances of `np.prod()` with this function in that case.

[2020-11-05 14:07] sk1p opened #894 "Increased memory usage"
Compared to 0.5, we are using a bit more memory (see discussion in #814). We need to track memory usage and see if we can fix this easily - I suspect this can be a bit harder to fix, as we can't easily keep buffers between processing partitions, for example.

[2020-11-05 14:07] sk1p commented on #814
I now have a handle on the originally reported performance regression - this was mostly an issue that using `posix_fadvise` caused massive performance issues on the large K2IS files. It's also possible that this is an issue with older Linux kernel versions, but I can't properly test this on my local workstation right now, which have a newer kernel (`5.7.0` vs the old `3.10.0` on our CentOS server)

[2020-11-05 15:01] sk1p opened #895 "tests/template/test_radial_fourier_template.py spurious failures"
I sometimes get a failure like this when running the tests locally:

[code]
The test code here looks suspicious:

https://github.com/LiberTEM/LiberTEM/blob/bc74cd74d55702962b566eeb0b3cd78c6550c8c9/tests/template/test_radial_fourier_template.py#L36-L54

I think the analysis-creation should be outside of the loop, as the analysis doesn't depend on the channel. But that won't solve the problem at han

[2020-11-06 10:32] #845 closed

[2020-11-06 11:11] uellue opened #897 "Main process and not workers the bottleneck under some circumstances"
When running `pytest benchmarks/corrections/test_corrset.py::TestRealCorrection` from #890 on Moellenstedt, the central process is by far the limiting factor:

![image](https://user-images.githubusercontent.com/25689052/98359522-ac835180-2028-11eb-9b1d-6b00774878e2.png)

It seems that even the load generated by the corrections doesn't saturate the workers.

Probably one should profile it at some p

[2020-11-08 05:35] twentyse7en commented on #895
Yes, Thx for pointing out!

Test is working fine on my side. This is exactly the same structure we used in all template tests. I tried generating the notebook and it looks fine too.

[2020-11-09 12:24] sk1p commented on #895
Thanks for looking into it. Maybe this is something specific to my environment, as we also don't hit this problem in CI.

[2020-11-10 11:19] sk1p commented on #891
Fixed by #890 - `CorrectionSet` has an `allow_empty` parameter now.

[2020-11-10 11:19] #891 closed

[2020-11-10 11:19] sk1p commented on #889
Fixed by #890

[2020-11-10 11:19] #889 closed

[2020-11-10 14:19] sk1p opened #900 "Use `mincore()` to query file system cache status"
Could be used to prioritize partitions that are already in fs cache, which would improve performance for data where a significant portion fits into the RAM.

This could also be used to read the cached partitions from fs cache, and use direct I/O for others, to remove the overhead of clearing the fs cache all the time

[2020-11-12 18:47] uellue commented on #836
I could reproduce "funny" streaks in our `20200518 165148` Ptychography dataset:

![image](https://user-images.githubusercontent.com/25689052/98982390-a0632c80-251f-11eb-8ef7-5339fe0bb576.png)

The analysis runs quite unstable in a Jupyter notebook: It randomly hangs and crashes. This looks like a deeper issue?

[2020-11-12 19:47] uellue commented on #836
Tracked it down: It is a bad pixel in the detector.

![image](https://user-images.githubusercontent.com/25689052/98988476-0653b200-2528-11eb-9622-3998bcd29ae3.png)

The instability seems to be caused by other factors, not sure what is going on.

[2020-11-12 19:49] uellue commented on #836
Closing here since the issue is not related to LiberTEM, but an artifact in the data.

[2020-11-12 19:49] #836 closed

[2020-11-12 20:09] sk1p commented on #895
Hmm, this now happens on two of my systems, with Python 3.7 and Python 3.8: for some reason, the notebook is generating a different result than the run inside of pytest. @twentyse7en did you try to re-create the python virtual environment, to install current versions of all dependencies?

@uellue are you also hitting this? Or am I somehow cursed? `*_*`

[2020-11-12 20:31] uellue commented on #895
@sk1p I am getting the error on moellenstedt (my libertem37 env), but not on Windows. It smells a bit like a numerics issue, doesn't it? Since the code is tested on random data, the signal from Radial Fourier is pretty small and a tiny difference may determine which order is dominant.

I'd propose to use a dataset with a very clear signal. A folded linear gradient obtained with `np.linspace(...).r

[2020-11-12 20:32] sk1p commented on #895
[code]

And, crucially:

[code]

If I'm not mistaken, this looks like orders 2 and 6 are close enough to be chosen based on numerical instability - is it possible that the "dominant order" logic needs to be updated to include some kind of tie breaker?

[2020-11-12 20:33] sk1p commented on #895
Ah, or that: more deterministic test data should help, too!

[2020-11-12 20:37] uellue commented on #895
Hm, one could make it return "no dominant order", although it SHOULD already do that. Quite a few dominant orders are zero, which means these were already culled. Good point, we can turn this into an issue to re-examine that logic. Other option would be to use data with a very clear signal for testing, as described above.

[2020-11-12 20:38] uellue commented on #895
Actually, probably we just shift the issue to "borderline cases" in the culling logic? :-D

[2020-11-12 20:41] uellue commented on #895
This is the culling implementation:

https://github.com/LiberTEM/LiberTEM/blob/79d527c9df44a9ccab537eb68eda2a8255882ccf/src/libertem/analysis/radialfourier.py#L154-L160

[2020-11-12 20:49] uellue commented on #895
What about a radical approach: We just don't test for the dominant order! If the other results are equal, we can be pretty sure that the parameters were translated correctly between web GUI and Python API, which is all we need to know here, right?

[2020-11-12 20:53] sk1p commented on #895
Sure, that would work, too :grin: can this happen with real data? Is this then a case of "noise in/noise out"?

[2020-11-12 21:12] uellue commented on #895
Well, in real data you may also have cases where the orders are very close. Since they are mapped to discrete values, you can get differences in borderline cases.

[2020-11-13 09:59] twentyse7en commented on #895
`tox -e  py37 -r tests/template/test_radial_fourier_template.py` is this enough?

[2020-11-14 11:49] sk1p commented on #895
Looks good, yeah. It doesn't seem that this problem is triggered by a specific dependency, rather by a bit of non-deterministic behavior, which is more likely to be triggered if you have many cores / many workers.

We should go with this solution - the order should be checked by a separate test anyways

[2020-11-16 11:00] #895 closed

[2020-11-18 14:14] #791 closed

[2020-11-23 10:30] AnandBaburajan opened #903 "SumSigUDF on a stack of single-frame-DM files fails"
Error:

[code]

How to reproduce on the master branch:

[code]

`backend._get_tiles_straight` is used in this case where it looks like there's a bug while reading from multiple files.

I'm trying to fix this at #793

[2020-11-23 10:53] sk1p commented on #903
Thanks for reporting! Indeed, that looks like a bug: the situation should be caught by the check here and enable the alternative reading mode with a copy:

https://github.com/LiberTEM/LiberTEM/blob/e9f32332d5314dfd4c6c71c967532ca094fff18f/src/libertem/io/dataset/base/backend.py#L78-L83

Maybe the check is not completely right for the situation?

[2020-11-23 11:13] AnandBaburajan commented on #903
Oh, I thought I could fix it by looking into `_get_tiles_straight`. Thanks, I'll try to understand why we need a copy!

[2020-11-23 12:42] sk1p commented on #903
To make sure I understand your reproducer, how large are the individual files you are stacking (that is, what shape do they have)?

The idea is that you can't read, let's say, a `(16, 64, 1024)` tile into one contiguous chunk of data (`DataTile`) in one go, if you only have one frame (let's say `(1, 1024, 1024)`) in each file - you need to read the individual `(1, 64, 1024)` parts and copy them in

[2020-11-23 16:44] uellue commented on #384
Discussion with @sk1p: We are targeting this for 0.7, including getting integration with Hyperspy to actually work.

[2020-11-24 07:56] AnandBaburajan commented on #903
(1, 3838, 3710)

Yep, thanks! I'll look into `_get_tiles_straight`.

[2020-11-25 10:24] AnandBaburajan opened #904 "Analyses on a stack of more-than-one-frame-DM files fail"
[code]

How to reproduce:

[code]
Then run any analyses on `ds`. From the traceback, the bug seems to be in the `fileset` part.

<details>
<summary>Traceback</summary>

[code]
</details>

[2020-11-25 13:38] sk1p commented on #904
Thanks for the report. Is this with the current `master` branch? I'll try to reproduce this locally and get back to you.

[2020-11-25 13:49] AnandBaburajan commented on #904
Yup

[2020-11-26 11:28] sk1p commented on #904
I can reproduce the issue - it seems the implementation from #877 was not complete, and I think I know how to fix this.

[2020-11-26 12:03] sk1p commented on #903
After fixing #904 I also ran into this issue with a stack of multiple 3D DM files. You were right, the issue is in the `_get_tiles_straight` method. I quickly looked into it, and it seems that the method assumed single-file data sets, and didn't correct the slice into the memory map for the starting index of the current file.

[2020-11-26 15:22] #903 closed

[2020-11-26 15:22] #904 closed

[2020-11-27 17:08] sk1p commented on #86
Azure pipelines documentation on this topic: https://docs.microsoft.com/en-us/azure/devops/pipelines/repos/github?view=azure-devops&tabs=yaml#run-pull-request-validation-only-when-authorized-by-your-team

So the solution is to add a second pipeline that runs the tests on the on-prem agent, which we can trigger after doing an initial review of the PR. Access to the agent pool needs to be confirmed

[2020-11-27 17:32] sk1p opened #907 "GUI/client dev on Firefox stuck in reconnect loop"
See #870 for discussion of the problem. WebSocket doesn't connect, stuck in a reconnect loop. Root cause is still unknown, needs to be debugged.

[2020-11-27 17:39] sk1p commented on #198
As #565 is merged, we could now create a pipeline to run this regularly. As load on our on-prem agent varies, we would have to see what variances are introduced, and how well the iterations/rounds etc stabilizes the numbers.

[2020-11-27 19:05] #86 closed

[2020-11-28 00:47] sk1p opened #910 "corrections test edge case"
See [this test failure](https://dev.azure.com/LiberTEM/LiberTEM/_build/results?buildId=62&view=logs&j=3f582459-859c-5b25-9a37-366525e46bfe&t=3ee4bf2d-a33b-56ba-bb2f-cc142863ee7f&l=128).

[code]

For some reason, the corrected data is the same as the `damaged_data`. In this case, `sig_dims=(8,)`, so `dark_image` could probably be all-zero in this case. Maybe we should add some fixed offset to `dark

[2020-11-28 11:03] AnandBaburajan opened #911 "Allow specifying nav_shape, sig_shape and sync_offset for K2IS"
Continuation of #793.

`nav_shape` and `sig_shape` can be easily implemented. `sync_offset` implementation was almost finished, check [this](https://github.com/LiberTEM/LiberTEM/pull/793#issuecomment-687870313) comment and [this](https://github.com/LiberTEM/LiberTEM/pull/793#discussion_r443501353) one.

[2020-11-28 11:13] AnandBaburajan commented on #441
For `HDF5`, I tried different methods including accessing indices and slices & h5py's `read_direct`. Reading with indices was too slow. Using slices and h5py, I was finished with `nav_shape` reshaping, `sig_shape` reshaping and -ve `sync_offset` (check [this](https://github.com/LiberTEM/LiberTEM/pull/793/commits/b9ef81d3092d980a4eb750b79ff70fe4855f6397) commit). But the solution doesn't look maint

[2020-11-30 09:43] #910 closed

[2020-11-30 15:13] sk1p opened #914 "Python 3.9 support"
Currently blocked by numba support (Python 3.9 changed some bytecode ops), which should be available soon™.

Also blocked by https://github.com/dask/distributed/issues/4168

[2020-11-30 16:39] uellue opened #915 "Port benchmarks to new re-usable dask cluster infrastructure"
Replace the `scope='class'` Context for benchmarks with a Context that uses the shared Dask cluster introduced in #908 to reduce complexity, if possible: https://github.com/LiberTEM/LiberTEM/blob/8907c9a7813e9151f7e72b6c3c0ea06556bf9409/conftest.py#L492-L518

[2020-12-07 13:54] uellue opened #917 "Escalating memory use in point analysis on RAW or EMPAD file"
There seems to be a memory leak or a different mechanism where LiberTEM workers consume excessive amounts of memory when doing a point analysis.

How to reproduce:

* Current master branch
* Windows 10
* Edit: 8 GB RAM
* Web GUI
* Open RAW or EMPAD file (tested with BiFeO3 scan_11_x256_y256.raw)
* Run a point analysis

What happens:

[code]

After that, LiberTEM is locked up and the server has to

[2020-12-07 14:06] uellue commented on #917
The issue is reproducible on Linux (moellenstedt) on /cachedata/users/clausen/tiled.raw. The memory consumption of workers increases dramatically from 0.1 % to almost 1 % of the available memory while a point analysis is running. Since this system has a very large main memory, this doesn't lead to failure. Furthermore, the analysis is very slow compared to ring analysis. The memory use drops back

[2020-12-07 14:26] uellue commented on #917
Restricting the tile size in ApplyMasksUDF with

[code]

resolves the issue. However, the sparse dot product shouldn't consume so much memory and it used to be faster and not slower.  SInce this is a performance-critical part of LiberTEM, probably the root cause should be found instead of just patching it up?

[2020-12-07 15:29] sk1p commented on #917
Interesting, thanks for the report. Note that with Python, most of the time high memory usage is not really a leak, but rather high GC pressure. This can be tested by repeating the test: if there is more or less monotone increase in memory use, there is a real leak, otherwise, it's possible that it is "only" excessive garbage.

I can reproduce this problem here, with memory usage shooting up to 1G

[2020-12-07 15:32] uellue commented on #917
Ok, I'll try to build a minimal reproducer. :-)

[2020-12-07 15:43] sk1p commented on #917
Another data point for the diagnosis: try to run a radial fourier analysis with a very small ring. On my system that reproduces the problem, compared to a larger ring which runs in acceptable time and with acceptable memory usage.

I think this could be related to the [handling of OOM situations by dask](https://distributed.dask.org/en/latest/worker.html#memory-management) - according to the messa

[2020-12-07 15:45] uellue opened #918 "Inline executor behaving differently from regular executor"
A simple reproducer, with both current master and v0.5.0:

[code]

@sk1p can you test if you can reproduce this?

[2020-12-07 15:48] uellue commented on #918
Ahhh I know, I need to instantiate the executor with InlineJobExecutor(), not pass the class 🤦

[2020-12-07 15:48] #918 closed

[2020-12-07 15:52] uellue commented on #918
I'll prepare a small PR where Context checks that the passed executor is an instance of `JobExecutor` since the error message here is really arcane.

[2020-12-07 18:40] uellue commented on #917
Yes, the problem is with the sparse dot product. If I memory-map a large raw file and multiply it with the sparse matrix using '@', the memory use balloons.

[2020-12-07 19:16] sk1p commented on #917
So this means that `flat_data @ masks` actually internally calls the `dot` method on the ndarray, which converts its argument to a dense array? Do we need to always use the `masks.dot(...)` method in case of sparse masks? I.e. first branch here:

https://github.com/LiberTEM/LiberTEM/blob/8203ae22c2ce91c0a7e45e3ca4968f84e9bc3cbf/src/libertem/udf/masks.py#L156-L161

[2020-12-07 20:27] uellue commented on #917
The '@' operator calls internally the `__rmatmul__` and `__matmul__` methods. To exclude any issues with the "routing" and make sure that the correct implementation is used, here's an example that uses these methods directly.

This is really striking since I remember to have tested and optimized this in the past. However, I couldn't resolve it by installing older versions of numpy and scipy. I'm a

[2020-12-07 20:53] uellue commented on #917
Maybe one could break out or own Numba version of CSR and CSC dot products to resolve this?

Also, this may have implications for SSB in ptychography. Not sure why it didn't occur there.

[2020-12-08 21:28] #917 closed

[2020-12-10 13:58] ashwanthdurairaj commented on #740
Hi, I am Ashwanth. I am new to open source contribution. I would like to contribute to your organisation.
Is the issue still open? are there any prerequisites?
How and where should I start?
Thank you.

[2020-12-10 15:27] sk1p commented on #740
@ashwanthdurairaj hi, welcome to the LiberTEM project! The issue is still open. As this is a problem in the user interface, a prerequisite is some knowledge of TypeScript and React. You can have a look at the handles, constraints and widgets in [the widgets folder](https://github.com/LiberTEM/LiberTEM/tree/master/client/src/widgets) to begin. Also, you will need to [set up a development environmen

[2020-12-10 16:00] ashwanthdurairaj commented on #740
@sk1p thanks.
I'll look into it.

[2020-12-10 16:15] uellue commented on #915
The shared cluster for testing is set up with a reduced number of workers and GPUs. For that reason we should keep the benchmarking cluster fixture that provides a shared cluster with default settings.

[2020-12-10 16:15] #915 closed

[2020-12-10 16:18] uellue commented on #158
Should we close here, or are the remaining two items still relevant? :-)

[2020-12-10 16:30] sk1p commented on #158
Good call, I'm going to close this now. We can see about the remaining ideas if there is more concrete user demand. Thanks again to @twentyse7en !

[2020-12-10 16:30] #158 closed

[2020-12-10 16:42] uellue commented on #158
Congrats @twentyse7en for closing such a long-standing issue! 💪

[2020-12-10 16:45] uellue opened #922 "Clean solution for interaction with other code that uses Dask"
In #921 it became evident that multiple Dask clusters and clients are easily created, but can lead to significant side effects and are cumbersome to manage. The default use pattern relies on registering one global Dask client and then implicitly using that one for all operations. That means one can accidentally switch the cluster or client for a user by starting a new cluster or instantiating a cl

[2020-12-11 13:55] twentyse7en commented on #158
Thx for your support @sk1p @uellue :)

[2020-12-12 21:29] sk1p commented on #914
We should also think about dropping Python 3.6 support soon after, as numpy 1.20 will only support Python 3.7+

[2020-12-14 09:35] uellue commented on #914
Do we depend on any of the new features of NumPy 1.20? We pitch LiberTEM as suitable for integration in 3rd party software. If you think of, for example, GMS with its ultra long life and infrequent updates on instrument computers, one should support older Python versions for as long as possible. Upgrading packages in an environment is relatively easy, but upgrading Python can be more complicated.

[2020-12-14 10:08] uellue commented on #512
Wontfix for now, larger upstream issue: https://github.com/mcmtroffaes/sphinxcontrib-bibtex/issues/194#issuecomment-743761553

[2020-12-14 12:37] sk1p opened #925 "Visualization: remove outliers before normalization"
If there are unusually large outliers, the default visualization is significantly impacted, as they throw off the normalization:

![image](https://user-images.githubusercontent.com/5778/102081706-f245ed80-3e10-11eb-8b03-23f2432535e7.png)

Something like [these functions in libertem-holo](https://github.com/LiberTEM/LiberTEM-holo/blob/43363ebdb749ec3e792c58ada98e723d09ec4070/src/libertem_holo/base/

[2020-12-14 13:08] sk1p commented on #61
I just re-checked the idle CPU usage. Just running `libertem-server` and creating a local cluster creates 15-20% idle usage on the main process, and additionally 2-3% per worker process.

Setting all four environment variables as in #921 reduces idle load to about 12% in the main process, and on average no load at all per worker process.

[code]

[2020-12-14 13:18] uellue commented on #925
The issue comes from negative values in combination with log scaling. Since negative values can't be represented well in a log scaled plot, they are shown as black by matplotlib.

[2020-12-14 13:55] uellue opened #926 "Make displayed and actual point analysis coordinates match"
## How to reproduce

* LiberTEM current master, possibly older versions as well
* Open a low-resolution dataset, for example 32x32x32x32, with clearly identifiable points (in this case a double diagonal with outliers).
* Perform a point analysis around the outliers. Disk analysis and frame picking are not affected, others not tested.

## Expected results

* A pixel on the left is selected if the c

[2020-12-14 14:23] uellue commented on #925
Discussion with @sk1p: My bad, this was on the right where we have linear scaling. It is in fact an outlier that drags all other values to the very bottom of the color scale.

[2020-12-14 14:39] sk1p commented on #925
Interim solution: for virtual detector analyses, in addition to linear scale output, also output a layer with a log-scaled visualization. As opposed to just patching out the outliers, this would allow to view data with high dynamic range without loss of information.

Medium-term: allow to set normalization parameters in client. Has about four steps:
- get vmin/vmax information to the client
- visu

[2020-12-14 15:21] sk1p commented on #926
Thanks for the detailed report, this should be fixed in #927

[2020-12-14 18:28] sk1p commented on #914
Okay, you have convinced me that it is worth it to support Python 3.6 as long as we can; especially given the outdated environments. So the policy would be to throw "not supported" errors at runtime, only when trying to access a specific feature, and to always allow the basic functionality to continue to work with older versions. After end-of-life of a legacy Python version, we would use "progress

[2020-12-14 19:58] #256 closed

[2020-12-14 19:58] #553 closed

[2020-12-14 19:58] #726 closed

[2020-12-15 08:04] uellue commented on #914
Yes, this all makes a lot of sense. :-) Good point to focus on the intended outcome and not the path to get there!

Ok, so there are two things to consider in development:

1. Make sure we don't _unnecessarily_ introduce language constructs or dependencies on 3rd party software that break support for older Python versions.
2. If using such a new feature brings significant benefits, consider introd

[2020-12-15 08:15] uellue opened #928 "Documentation, test case and example for UDFMeta.coordinates"
As a follow-up to #793, we should refine the newly introduced feature. A good candidate to use this in practice is SSB in https://github.com/Ptychography-4-0/ptychography

[2020-12-15 10:43] #926 closed

[2020-12-15 12:13] uellue commented on #798
Opening a small RAW dataset now takes 1,5 minutes on my system after #886 was merged, which feels like an eternity while watching a spinner. Reopening here since #886 is only part of the solution.

[2020-12-15 12:16] uellue commented on #798
For reference, the first run of a point analysis took about 30 s on the same system before. That means without actual caching it seems that #886 introduced some inefficiencies.

[2020-12-15 12:17] sk1p commented on #798
I'll have a look later. Thanks for the report! Is that with the latest numba version?

[2020-12-15 12:19] uellue commented on #798
This was 0.51.2. Retesting now with 0.52.

[2020-12-15 12:24] uellue commented on #798
With 0.52 it is 1:08 min to open a RAW dataset for the second run, i.e. with everything warmed up.

[2020-12-16 11:44] #925 closed

[2020-12-16 13:22] sk1p opened #930 "AppImage: restarting workers"
The continuous AppImage somehow has trouble with keeping the distributed workers alive. Browsing for file still works, but when detecting parameters, workers are restarted:

[code]

This was reproduced with `LiberTEM-791dea21-x86_64.AppImage` from the [continuous build](https://github.com/LiberTEM/LiberTEM/releases/tag/continuous)

[2020-12-16 15:03] sk1p commented on #930
This is possibly related to my local pyenv setup - this part is suspicious:

[code]

[2020-12-16 15:24] uellue commented on #930
The AppImage seems to work fine on Moellenstedt, which would support the hypothesis that it is related to your setup @sk1p. Can we somehow make the AppImage more robust against that? :-)

[2020-12-21 14:21] uellue commented on #798
Repurposed to remind us of removing the hack of the Numba cache #931 as soon as Numba supports caching these functions natively.

[2021-01-04 12:33] uellue commented on #713
This should be addressed with #921, right? Closing now, we can re-open or open a new issue in case this comes up again.

[2021-01-04 12:33] #713 closed

[2021-01-08 14:35] uellue commented on #922
As a quick feedback, implementing `map()` for Hyperspy using LiberTEM would be a significant improvement for lazy signals.

Test: Summing each frame in a 220 MB BLO file by mapping `np.sum()` on my laptop.

* LiberTEM using a default Dask.Distributed client (not local cluster, plain vanilla with Dask.Distributed defaults): 1.47 s
* Hyperspy using a regular Signal: 2.19 s (second run without creati

[2021-01-08 14:38] uellue commented on #473
Support for Dask-based execution should probably remain as an option even after we have an advanced executor, since Dask allows to run on ipyparallel clusters and enables integration with Hyperspy et al, see #922.

[2021-01-14 12:01] sk1p commented on #914
numba now supports 3.9 in the latest development version

[2021-01-18 19:41] AnandBaburajan commented on #72
@sk1p Hello! I've a doubt: does that mean I should compare the processing speed of the current LiberTEM master on a chunked dataset with the speed of my mmapped version on a continuous version of the same dataset? I'm not able to understand how that comparison would help. Please let me know if I got something wrong, thanks!

I'm sorry for staying out of touch for a while. I hope you're doing well!

[2021-01-18 20:02] sk1p commented on #72
The idea was to compare the same operation on different HDF5 files of the same data, saved with different data layouts (chunk or not, chunk size, maybe compression etc.) This is coming more from the perspective of giving recommendations to data producers. People sometimes ask us about our experience with different formats and possibilities of handling data, and one question is, if it even makes se

[2021-01-19 02:40] AnandBaburajan commented on #72
I see. I get it now, thanks!

[2021-01-20 13:43] sk1p opened #933 "make_dask_array: roi parameter broken"
Example:

[code]

Results in:

[code]

This is partially caused by the reshape here:

https://github.com/LiberTEM/LiberTEM/blob/317c17ae516e6720051524884217578d69be94ba/src/libertem/contrib/daskadapter.py#L24

If we only reshape if we don't have a `roi`, this should be consistent with the behavior of numpy.

I think something else that changes the results is the handling of partitions that don't y

[2021-01-21 14:18] uellue opened #936 "Context.load('auto', ...) silently swallows keyword arguments, at least for FRMS6"
How to reproduce:

Open an FRMS6 dataset with embedded dark frames and try to disable offset correction with the option `enable_offset_correction=False`.

## Observed behavior

With `Context.load('frms6', path=..., enable_offset_correction=False)`, the dataset is loaded and offset correction is disabled.

With `Context.load('auto', path=..., enable_offset_correction=False)`, the dataset is loaded,

[2021-01-21 14:50] sk1p commented on #936
Important to fix for 0.6, as we also hit this in the benchmark for the buffered reader, where the `io_backend` parameter was silently ignored, which caused just plain wrong results.

[2021-01-22 17:59] uellue opened #937 "Validate file readers against alternative implementations"
In #932, some tests that use a form of snapshot testing are replaced with tests that validate against alternative file reader implementations to make the results more stable against numerical variations and consistent with other relevant packages.

A prototype notebook with alternative readers for all  formats except K2IS is included in that PR. However, only selected tests for DM, FRMS6 and MRC a

[2021-01-23 11:14] uellue commented on #937
Should we perhaps include a raw data version of K2IS generated with the 0.5 release as a snapshot and reference? At least we will catch changes!

[2021-01-23 12:53] sk1p commented on #937
Sounds like a plan! :+1:

[2021-01-25 13:05] sk1p commented on #753
API support done in #896, GUI support TBD. There is already a sketch in the `IOBackend` interface to create a backend from JSON, needs concrete implementation in the web API, the backends and the GUI itself.

[2021-01-25 13:14] sk1p commented on #716
Can be added to the buffered reader, which should also allow Windows support. Can also work on liburing backend instead, which is more forward-looking. #268

[2021-01-25 15:36] #814 closed

[2021-01-25 15:36] #838 closed

[2021-01-25 18:11] #936 closed

[2021-01-25 19:30] sk1p opened #940 "Windows: number of workers mismatch in CI"
`test_local_cluster_details` fails with the following error:

[code]

And logs the following:

[code]

Maybe the `AttributeError`s are not the problem, but just a symptom of the cluster being shutdown before it had the chance to actually start the workers? In the back in my mind I had the idea that we wait for the workers to be ready when starting a local cluster, but it seems we only do this for

[2021-01-25 19:57] uellue commented on #940
I couldn't reproduce this issue on my workstation FYI. I ran the offending test, the server tests and the whole test suite repeatedly.

[2021-01-25 20:39] sk1p commented on #940
Was that with a fresh environment? There was a distributed release a few days ago, that may be related.

[2021-01-26 12:47] uellue commented on #937
Other formats are covered as well now, this issue will be closed with #932.

[2021-01-26 13:56] #937 closed

[2021-01-26 16:09] sk1p opened #942 "Release 0.6"
# Release checklist

## Remaining issues

See [0.6 milestone](https://github.com/LiberTEM/LiberTEM/issues?q=is%3Aopen+milestone%3A0.6+sort%3Aupdated-desc)

## Before (using a release candidate package)

- [x] Review open issues and pull requests
- [x] Handle deprecation, search the code base for DeprecationWarning that are supposed to be removed in that release.
- [x] Full documentation review and

[2021-01-27 10:57] sk1p commented on #940
Should be fixed by #941

[2021-01-27 10:57] #940 closed

[2021-01-27 11:23] sk1p commented on #856
I think this is done, closing.

[2021-01-27 11:23] #856 closed

[2021-01-27 11:56] sk1p commented on #638
@uellue should we have another look at this for the 0.6 release? In #939 the docs already have a better structure, but I feel there is still quite a bit missing.

[2021-01-27 12:06] sk1p commented on #409
Done in #565

[2021-01-27 12:06] #409 closed

[2021-01-27 15:21] #297 closed

[2021-01-27 17:29] sk1p commented on #942
Just as a note, 0.6.0rc0 did not finish, as there were two problems:

1) `nest-asyncio` did a release 1.5.0 just before us, which was broken. They quickly followed up with 1.5.1, which fixed the problem
2) The username passed on to `twine` was wrong, it needs to be `__token__`, not `libertem_bot`. This should now be fixed for `0.6.0rc1`

[2021-01-27 18:41] sk1p commented on #523
I checked this again, and it seems to be still missing (from both production and sandbox deployments of Zenodo). Zenodo [claims to use OpenAIRE](https://help.zenodo.org/), but there, the project is available: https://explore.openaire.eu/search/project?projectId=corda__h2020::e9dfaa77e81ed8df2228180342c4185f

I was curious about the procedures involved, and it seems the OpenAIRE project recently ch